/************************************************************/
/************************************************************/
/************************* General **************************/
/************************************************************/
/************************************************************/



.notrounded{
    border-radius: 0px!important;
}

#venueSearchBar {
    width: 90%;
}


#orSeparator{
    margin: 0px 0px 0px 25px;
    line-height: 32px;
}

.no-top-border{
    margin-top: 0px;
}

.table.table-borderless > tbody > tr > td, 
.table > tbody > tr > th, 
.table.table-borderless > tfoot > tr > td, 
.table.table-borderless > tfoot > tr > th, 
.table.table-borderless > thead > tr > td, 
.table.table-borderless > thead > tr > th {
    border: 0;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-0{
    margin: 0;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.small-size-text{
    font-size:20px;
}

.bg-burgundy{
    background-color: #b54d8f;
}

.cache-white{
    background-color: #fff;
    height: 25px;
    width: 101%;
    transform: rotate(-1deg);
    z-index: 1;
    margin-left: -0.5%;
    position: relative;
}

.cache-counter-white{
    background-color: #FFFFFF;
    height: 20px;
    width: 101%;
    transform: rotate(1deg);
    z-index: 1;
    margin-left: -0.5%;
    position: relative;
    margin-top: -10px;
}

.logo-default{
    width: 150px;
}

.nav-rotate{
    transform: rotate(-1deg);
    top:20px;
    width:100%;
    position:fixed;
    z-index: 9994;
    background-color: #2b3643;
    height: 46px;
    min-height: 46px;
}

.page-sidebar ul.page-sidebar-menu{
    margin-top:50px;
}


.page-sidebar .page-sidebar-menu > li > a.nav-link.add, .page-sidebar .page-sidebar-menu > li > a.nav-link.add:hover{
    color: #36c6d3;
}

.page-sidebar .page-sidebar-menu > li.active > a.nav-link.add{
    color:#fff;
}

@media (max-width: 1025px) {
    .nav-rotate{
        top:10px;
        position:absolute;
    }

    .page-sidebar ul.page-sidebar-menu{
        margin-top:50px;
    }
}

@media (max-width: 480px){
    .nav-rotate{
        top:3px;
    }

    .logo-default{
        width: 100px;
    }
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: 24px 10px 0px 0px;
}

.page-container .page-content-wrapper .page-content {
    padding-top: 20px;
}

#loaderDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: white;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px; /* -1 * image width / 2 */
    margin-top: -150px; /* -1 * image height / 2 */
    display: block;
}

.page-content-wrapper .page-content {
    padding-top: 10px;
}

.page-header.navbar .page-logo .logo-default.margin-top {
    margin: 20px 0 0;
}

.pagetitle{
    font-size: 36px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    color: #b54d8f;
}

.page-sidebar .page-sidebar-menu .sub-menu.open{
    display:block;
}

.navinpage .btn{
    border-radius: 0px;
}







/************************************************************/
/************************************************************/
/************************ My Events *************************/
/************************************************************/
/************************************************************/




.mt-element-list .list-news.mt-list-head {
    padding: 10px;
    margin-top: -10px;
}

.eventtitle{
    color: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-left: 20px;
}

.mt-list-head .total{
    font-size:20px;
}

.mt-element-list .list-news.ext-1.mt-list-head .list-count{ 
    font-size: 36px;
    top: 25px;
    padding: 0px;
    right: 10px;
    color: #fff;
    margin-right: 20px;
}

.search{
    padding-bottom: 50px;
    padding-top: 25px;
    clear: both;
    color: #fff;
    display: table;
    width: 100%;
}

.search-box{
    padding-bottom:5px;
}

.search-box .input-group-addon{
    background-color: #fff;
    border: 0px;
}

.search-box  .form-control{
    border: 0px;
}

.search-box .input-group-addon i{
    color:#b54d8f;
}

.search-box input, .search-box input:focus{
    border-left: 0px;
    border-radius: 0px;
    border-color: #000;
}

.btnfilter .btn{
    margin-bottom:5px;
    border-radius: 0px;
}

.mt-element-list .list-news.mt-list-container {
    border: 0px;
}

.mt-element-list .list-news.mt-list-container.ext-2 ul > .mt-list-item {
    border-color: #b54d8f;
}

.mt-element-list .list-news.ext-2.mt-list-container ul > .mt-list-item > .list-item-content {
    padding-left: 0px;
}

.mt-list-item.done, .mt-list-item.done .btn{
    background-color: #d5d2cc;
}

.imgeventin{
    position:relative;
    overflow: hidden;
    height:150px;
    width: 100%;
    background-position: center;
    background-size: 100% auto;
}

.hidden-image {
    visibility: hidden;
    width: 100%;
}

.pattern-holder{
    margin-top:-150px;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 150px;
    overflow: hidden;
}

.pattern-band{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 150px;
    width: 100%;
}

.done .pattern-band{
    top: -300px;
}

.hoverevent .pattern-band{
    top: -150px;
}

.pattern{
    width:102%;
    height:150px;
    display:block;
}

.title-event {
    color: #B54D8F;
    margin-top: 0px;
    font-size: 28px;
    border-bottom: 1px solid #e0d9d1;
    padding: 11px 0 10px;
}

.title-event .eventplace {
    font-size:14px; 
}

.title-event .tickets {
    color: #000;
    font-size: 25px; 
    padding-top: 10px;
}

.info{
    color: black;
    padding: 20px 0 0;
}

.info .hour{
    font-size: 25px;
    color: #a1a6ae;
    font-weight: 300;
}

.price{
    text-transform: capitalize;
}

.priceevent{
    color: #a1a6ae;
}

.actions{
    padding-top: 15px;
}

.actions .btn{
    border-radius: 0px;
}






/************************************************************/
/*********************                   ********************/
/*********************      REVIEW       ********************/
/*********************                   ********************/
/************************************************************/


.header-event{
    margin-top:-10px;
    padding-top: 5px;
}

.header-event .eventtitle{
    margin-left: 0px;
}

.returnlink{
    top: 25px;
    position: absolute;
    right: 15px;
}

.returnlink a{
    color: black;
}

.menuevent{
    display: table;
    padding-bottom: 50px;
    padding-top: 25px;
}

.menuevent .btn{
    border:0px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffc7ec;
}

.menuevent .btn:hover, .menuevent .btn.active{
    border:0px;
    background: #ffc7ec none repeat scroll 0 0;
    color: #b54d8f;
}

.menuevent .btn.pull-right{
    margin-top: -10px;
}

.eventinfo img{
    padding-right:3px;
}

.eventinfo .list-item-content{
    padding:0;
}

.description-link{
    margin-top: 30px;
}

.description-link a{
    color:black;
}

.feartureevents{
    padding-bottom: 30px;
}

.feartureevents .share, .feartureevents .attendee {
    width: 50%;
    float:left;
    padding-bottom: 40px;
}

@media (max-width: 768px) {
    .feartureevents .share, .feartureevents .attendee {
        width: 100%;
    }   
}

.feartureevents h2{
    border-top: 1px solid #e0d9d1;
    padding-top:30px;
    padding-bottom: 30px;
}

.feartureevents .btn{
    margin: 10px 5px;
}

.tabbable-line > .tab-content{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 30px;
    border-color: #e0d9d1;
}

.portlet.light {
    background-color: #fff;
    padding: 0px 0px 15px;
}








/************************************************************/
/*********************                   ********************/
/*********************      TICKETS      ********************/
/*********************                   ********************/
/************************************************************/




.stat-right .actions{
    padding-top: 0px;
}

.search-box-ticket{
    min-width: 400px;
    width: 75%;
    margin-bottom: 5px;
    margin: 30px 0px;
}

.overview .chart-container{
    margin-bottom: 20px;
}

.table.ticketlist > tbody > tr.active > td {
    background-color: #d7f1ea;
}

.table.ticketlist > tbody > tr.refunded > td {
    background-color: #cdcdcd;
}

.table.ticketlist > tbody > tr.miactive > td {
    background-color: #f1e2d7;
}

.table.ticketlist > tbody > tr {
    height: 40px;
}

.table.ticketlist > tbody > tr > td {
    line-height: 40px;
}

.table.ticketlist > tbody > tr.active:hover,
.table.ticketlist > tbody > tr.active:hover > td {
    background-color: #d7f1ea;
}

.number-stats .stat-number {
    margin: 10px 25px 20px;
}






/************************************************************/
/************************************************************/
/*********************                   ********************/
/*********************       EDIT        ********************/
/*********************                   ********************/
/************************************************************/
/************************************************************/



.edit-menu{
    z-index: 2; 
    position: relative;
}

.edit-form .cache-counter-white.addform{
    background: none;
    height: 20px;
}








/************************************************************/
/************************************************************/
/*********************                   ********************/
/*********************     ADD FORM      ********************/
/*********************                   ********************/
/************************************************************/
/************************************************************/





.cache-counter-white.addform{
    height: 35px;
}

.newevents{
    z-index: 2;
    position: relative;
    color: #b54d8f;
}

.mt-element-step{
    /*margin-top:-15px;*/
    clear: both;
}

.mt-element-step .step-thin{
    margin-top:-23px;
    position: relative;
}

.mt-element-step .step-thin .active {
    background-color: #B54D8F !important;
}

.mt-element-step .step-thin .active .mt-step-number {
    color: #B54D8F !important;
}

.bg-grey, .bg-hover-grey:hover {
    background: #34495e none repeat scroll 0 0 !important;
}
.font-grey {
    color:  #34495e !important;
}

.font-grey-cascade {
    color: #fff !important;
}

.mt-element-step .step-thin .mt-step-col {
    cursor: pointer;
    padding-top: 35px;
}

.control-label {
    margin-top: 10px;
}

.enddatecountainer{
    padding-right: 0px;
}

.description{
    padding-left: 30px;
    padding-right: 30px;
}

.panel-heading a {
    display: block;
}

.drop-box {
    margin-left: 16px;
    margin-right: 16px;
    background: #F8F8F8;
    border: 2px dashed #999;
    height: 150px;
    text-align: center;
    padding-top: 60px;
    margin-top: 5px;
}

.dragover {
    border: 5px dashed blue;
}

.ta-text.ta-editor p{
    margin: 0;
    min-height: 300px;
    padding: 6px 12px;
}

.imgup{
    padding-top:5px;
}

.form-group.form-md-line-input .input-group .input-group-addon i{
    color: black;
}

#uPlace{
    margin-top:34px;
}

#addTickets_table .as-sortable-item, .as-sortable-placeholder {
    display: table-row;
}

#addTickets_table .form-group {
    margin-bottom: 0px;
}

#addTickets_table .number {
    border-radius: 50% !important;
    width: 35px;
    font-size: 20px;
    margin: auto;
    padding: 3px 12px;
    color:white;
}

#addTickets_table input[type='checkbox']{
    width: 20px;
    height: 20px;
}

@media (max-width: 500px) {

    .responsive-table-line table td.inTicket{
        display: block;
        float: none;
    }
    .responsive-table-line td:before { content: attr(data-title); }

    .responsive-table-line td:before { 

        display:block;
        top: 0px;
        left: 0px;
        width: 45%; 
        padding-right: 15px; 

        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow:hidden !important;
        text-align:left;
        padding:10px;
    }

}

.share-buttons.saved{
    font-size: 25px;
}

.rightdash{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color:  #cdced3;
}

.rightdash .col-md-12{
    text-align: center;
    border-left: 1px;
    border-color: #cdced3;
}

.numberdash{
    color:#609cce;
    font-size:24px; 
}

.textdash{
    color:#cdced3;
    font-size: 12px;
    font-weight:bold;
}

.button-nav{
    background: #34495e none repeat scroll 0 0 !important;
    color: #fff !important;
}

.button-submit{
    border-radius: 0px;
}









/************************************************************/
/************************************************************/
/******************                        ******************/
/***************    Network & Tickets List    ***************/
/******************                        ******************/
/************************************************************/
/************************************************************/




.clickrow{
    cursor: pointer;
}

.nopointer {
    cursor: auto!important;
}

.networktr {
    height: 50px;
}

.networktr td {
    line-height: 30px!important;
}

.pagination {
    margin: 0;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.user-pic {
    max-width: 80px;
    margin: 10px;
    float: left;
}

.user-pic-fake {
    width: 80px;
    margin: 10px;
    float: left;
    margin-top: 20px;
}

.user-pic-fit {
    width: 30px;
    height: 30px;
}

.user-info {
    margin-top: 15px;
}

.user-info button {
    margin: 20px auto;
}





/************************************************************/
/************************************************************/
/******************                        ******************/
/***************           Discounts         ****************/
/******************                        ******************/
/************************************************************/
/************************************************************/







.newDiscount {
    margin: 30px 0px;
}


.discount-table > tbody > tr {
    height: 45px;
}

.discount-table > tbody > tr > td {
    line-height: 45px;
}

.discount-table .btn-edit {
    width: 100%;
    margin: auto;
    max-width: 100px;
    min-width: 40px;
    text-align: center;
}

.discount-table .btn-edit-half {
    margin: auto;
    width: 80px;
    text-align: center;
    margin-top: 18px;
}

.discount-table .btn-edit-cancel {
    margin: auto;
    width: 35px;
    text-align: center;
    margin-top: 18px;
}

.discount-table .form-group {
    margin: 5px 0px;
}

.discount-table .form-group input {
    margin: 15px 0px;
}

.discount-table select {
    margin-top: 15px;
}

.discount-table input[type='checkbox']{
    text-align: center;
    margin: 7px auto;
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.discount-table
