<!-- BEGIN PROFILE SIDEBAR -->
<div class="profile-sidebar">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet bordered ">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name"> Marcus Doe </div>
            <div class="profile-usertitle-job"> Developer </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li ng-class="{'active' : location.path() == '/payements'}">
                    <a href="#/payement">
                        <i class="fa fa-usd"></i>Payments</a>
                </li>
                <li ng-class="{'active' : location.path() == '/account'}">
                    <a href="#/account">
                        <i class="icon-settings"></i> Account Settings </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->