<div class="col-md-12 row" ng-if="help && !formevent.$valid || $parent.senderror">
    <br/>
    <div  id="help" class="note note note-danger" >
        Your form contains errors :
        <ul>
            <li ng-repeat="error in errors">{{error}}</li>
            <li ng-show="formevent.uName.$error.required" class="required">1. Basic Info: Enter the name of the event.</li> 
            <li ng-show="formevent.uName.$error.minlength" class="required">1. Basic Info: The event name should have a minimum of 2 characters.</li> 
            <li ng-show="formevent.uCategorie.$error.required" class="required">1. Basic Info: Choose a category.</li> 
            <li ng-show="formevent.uUrl.$error.url" class="required">1. Basic Info: URL of the Event should be a URL begining with http://</li> 
            <li ng-show="formevent.uBookingLink.$error.url" class="required" >1. Basic Info: Booking link should be a URL begining with http://</li> 
            <li ng-show="formevent.uDesc.$error.required" class="required">1. Basic Info: You should enter a description.</li>
            <li ng-show="formevent.uDesc.$error.maxlength" class="required">1. Basic Info: You description exceed 50000 characters.</li>
            <li ng-show="formevent.uPicture.$error.maxSize" class="required">1. Basic Info: You should enter an image less than 5MB.</li> 
            <li ng-show="formevent.uPlace.$error.required">2. Location: Enter an address.</li> 
            <li ng-show="formevent.uPlace.$error.invalid">2. Location: The adress you choose is false.</li> 
            <li ng-show="formevent.uPlaceName.$error.required" class="required">2. Location: Enter the name of the venue.</li> 
            <li ng-show="formevent.uPlaceAddress.$error.required" class="required">2. Location: Enter the street address of the venue.</li>
            <li ng-show="formevent.uPlaceCity.$error.required" class="required">2. Location: Enter the city of the venue.</li>
            <li ng-show="formevent.uPlacePostalCode.$error.required" class="required">2. Location: Enter the postal code of the venue.</li>
            <li ng-show="formevent.uPlaceURL.$error.url" class="required">2. Location: The URL of the venue should be a URL beginning with http://</li>
            <div ng-repeat="ticket in $parent.event.tickets">
                <li ng-show="formevent['utickets_name' + $index].$error.required" class="required">3. Tickets: You should enter a name for the ticket in positon {{$index}} </li>
                <li ng-show="formevent['utickets_quantity' + $index].$error.required" class="required">3. Tickets: You should enter a quantity for the ticket in positon {{$index}} </li>
                <li ng-show="formevent['utickets_price' + $index].$error.required" class="required">3. Tickets: You should enter a price for the ticket in positon {{$index}} </li>
                <li ng-show="formevent['utickets_datetime' + $index].$error.required" class="required">3. Tickets: You should enter a date for the ticket in positon {{$index}} </li>
            </div>
        </ul>
    </div>
</div>
<form  ng-submit="formevent.$valid && submit()" enctype="multipart/form-data" accept-charset="utf-8" name="formevent" novalidate="true" scrollerrortop form="formevent">
    <div class="mt-element-step">
        <div class="cache-counter-white addform"></div>
        <div class="step-thin">
            <div class="col-md-4 bg-grey mt-step-col" ng-click="$parent.tabform = 'basicinfo'" ng-class="{'active':$parent.tabform == 'basicinfo' || !$parent.tabform, 'done':$parent.event.name && $parent.event.selectEventCat && $parent.event.startDate && $parent.event.endDate && $parent.event.desc }">
                <div class="mt-step-number bg-white font-grey">1</div>
                <div class="mt-step-title uppercase font-grey-cascade">Basic Info</div>
                <div class="mt-step-content font-grey-cascade">The basics of your event</div>
            </div>
            <div class="col-md-4 bg-grey mt-step-col" ng-click="$parent.tabform = 'address'" ng-class="{'active':$parent.tabform == 'address', 'done': $parent.event.placeName}">
                <div class="mt-step-number bg-white font-grey">2</div>
                <div class="mt-step-title uppercase font-grey-cascade">Location</div>
                <div class="mt-step-content font-grey-cascade">The location of your event</div>
            </div>
            <div class="col-md-4 bg-grey mt-step-col" ng-click="$parent.tabform = 'tickets'" ng-class="{'active':$parent.tabform == 'tickets', 'done': $parent.event.tickets.length > 0}">
                <div class="mt-step-number bg-white font-grey">3</div>
                <div class="mt-step-title uppercase font-grey-cascade">Tickets</div>
                <div class="mt-step-content font-grey-cascade">Ticket pricing and tiers</div>
            </div>
        </div>
    </div>
    <div class="form-body ">
        <div class="clearfix"></div>
        <div id="basicinfo" ng-show="$parent.tabform == 'basicinfo' || !$parent.tabform">
            <div id="uName" class="form-group form-md-line-input" ng-class="{'has-error':((formevent.uName.$error.minlength || formevent.uName.$error.required) && formevent.uName.$touched) || (help && formevent.uName.$error.required), 'has-sucess':!formevent.uName.$error.required && formevent.uName.$touched}">
                <label for="uName" class="col-md-2 text-right control-label">
                    <span class="required">*</span> Event Name
                </label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="uName" ng-model="$parent.event.name" ng-minlength="2" ng-required="true" tooltip title="Name of the Event" data-placement="left" data-container="body" />
                    <span ng-show="formevent.$submitted || formevent.uName.$touched || help && formevent.uName.$error.required">
                        <span ng-show="formevent.uName.$error.required" class="required">Enter the name of the event.</span> 
                        <span ng-show="formevent.uName.$error.minlength" class="required">The name of the event should be at least 2 characters long</span> 
                    </span>
                </div>
            </div>
            <div id="uCategorie" class="form-group form-md-line-input" ng-class="{'has-error':formevent.uCategorie.$error.required && formevent.uCategorie.$touched || help && formevent.uCategorie.$error.required, 'has-sucess':!formevent.uCategorie.$error.required && formevent.uCategorie.$touched}">
                <label for="uCategorie" class="col-md-2 text-right control-label">
                    <span class="required">*</span> Category
                </label>
                <div class="col-md-10">
                    <ui-select ng-model="$parent.event.selectEventCat" ng-required="true" name="uCategorie" ng-disabled="disabled" tooltip title="Category of the Event" data-placement="left" data-container="body">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices group-by="'parent_name'" group-filter="$parent.name" repeat="item in ($parent.categories.results | filter: $select.search) track by item.id">
                            <span ng-bind="item.name">item.id</span>
                        </ui-select-choices>
                    </ui-select>
                    <span ng-show="formevent.$submitted || formevent.uCategorie.$touched || help && formevent.uCategorie.$error.required">
                        <span ng-show="formevent.uCategorie.$error.required" class="required">Choose a category.</span> 
                    </span>
                </div>
            </div>
            <!-- <div class="form-group form-md-line-input" ng-class="{'has-error':formevent.uUrl.$error.required && formevent.uUrl.$touched}">
                <label for="uUrl" class="col-md-2 text-right control-label">
                    URL of the Event 
                </label>
                <div class="col-md-10">
                    <input type="url" class="form-control col-md-6" name="uUrl" ng-model="$parent.event.url" tooltip title="Website Url" data-placement="left" data-container="body"/>
                    <span ng-show="formevent.$submitted || formevent.uUrl.$touched">
                        <span ng-show="formevent.uUrl.$error.url" class="required">Should be an url begining with http://</span> 
                    </span>
                </div>
            </div> -->
            <div class="form-group form-md-line-input" ng-class="{'has-error':formevent.uBookingLink.$error.required && formevent.uBookingLink.$touched}" ng-if="$root.admin">
                <label for="uBookingLink" class="col-md-2 text-right control-label">
                    Booking Link
                </label>
                <div class="col-md-10">
                    <input type="url" class="form-control col-md-6" name="uBookingLink" ng-model="$parent.event.link" tooltip title="Booking Link" data-placement="left" data-container="body"/>
                    <span ng-show="formevent.$submitted || formevent.uBookingLink.$touched">
                        <span ng-show="formevent.uBookingLink.$error.url" class="required">Should be a URL beginning with http://</span> 
                    </span>
                </div>
            </div>

            <div daterange startdate="$parent.event.startDate" enddate="$parent.event.endDate"></div>

            <div id="uDesc" class="form-group row" ng-class="{'has-error':formevent.uDesc.$error.required && formevent.uDesc.$touched || help && formevent.uDesc.$error.required , 'has-sucess':!formevent.uDesc.$error.required && formevent.uDesc.$touched}">
                <label for="uDesc" class="col-md-2 text-right control-label">
                    <span class="required">* </span> Description <br> <small><small style="color:grey">Embed Videos and Soundcloud to your event description by clicking on the YouTube icon.</small></small>

                </label>
                <div class="col-md-10 description">
                    <span ng-show="formevent.$submitted || formevent.uDesc.$touched || help && formevent.uDesc.$error.required" >
                        <span ng-show="formevent.uDesc.$error.required" class="required">You should enter a description.</span>
                        <span ng-show="formevent.uDesc.$error.maxlength" class="required">Your description cannot exceed 50000 characters.</span>
                    </span>
                    <summernote ng-model="event.desc" name="uDesc" ng-maxlength="50000" config="{height: 500,  toolbar: [['edit',['undo','redo']], ['headline', ['style']], ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],['fontface', ['fontname']], ['textsize', ['fontsize']], ['fontclr', ['color']], ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['height', ['height']], ['table', ['table']], ['insert', ['link','myimagedialog','video','hr']], ['view', ['codeview']], ['help', ['help']]], popover: {
                                image: [['float', ['floatLeft', 'floatRight', 'floatNone']],['remove', ['removeMedia']]]}}" required></summernote>
                </div>
            </div>
            <div class="form-group row" ng-class="{'has-error':formevent.uPicture.$error.maxSize && formevent.uPicture.$touched, 'has-sucess':!formevent.uPicture.$error.maxSize && formevent.uPicture.$touched}">
                <label for="uPicture" class="col-md-2 text-right control-label">
                    Choose a Picture
                </label>
                <div class="col-md-10">
                    <div ngf-drop ngf-select ng-model="$parent.picture" class="drop-box" name="uPicture" 
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                         accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB" ngf-min-height="100">
                        Drop images here or click to upload
                    </div>
                    <div class="col-md-10">
                        <span class="help-block">You can choose to leave the picture field blank and a default picture will be selected depending on the event category.</span>
                        <br/>
                        <img ngf-src="$parent.picture" ngf-background="$parent.picture" ngf-resize="{height: 500, quality: 0.9}" ngf-no-object-url="true" class="img-responsive"/>
                    </div>
                    <span ng-show="formevent.$submitted || formevent.uPicture.$untouched">
                        <span ng-show="formevent.uPicture.$error.maxSize" class="required">You should enter an image less than 5MB.</span>
                    </span>
                </div>
            </div>
        </div>

        <div id="address" ng-show="$parent.tabform == 'address'">
            <div mapform event="$parent.event" markers="$parent.markers" formevent="formevent" collapse="$parent.tabform=='address'" help="help"></div>
        </div>

        <div class="tickets" ng-show="$parent.tabform == 'tickets'">
            <div class="form-group" ng-if="$root.admin">
                <br/>
                <label class="checkbox-inline"><input type="checkbox" ng-model="$parent.event.freetickets">Free Guest List</label>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="alert alert-info">
                        <strong>Notification Emails:</strong> How often would you like to receive updates concerning your sales?
                        <br>
                        <label class="checkbox-inline">
                        <input type="radio" ng-model="$parent.event.notifications" value="0">&nbsp;&nbsp;Never</label>
                        <label class="checkbox-inline">
                        <input type="radio" ng-model="$parent.event.notifications" value="1">&nbsp;&nbsp;Every Ticket</label>
                        <label class="checkbox-inline">
                        <input type="radio" ng-model="$parent.event.notifications" value="2" checked="checked">&nbsp;&nbsp;Daily</label>
                        <label class="checkbox-inline">
                        <input type="radio" ng-model="$parent.event.notifications" value="3">&nbsp;&nbsp;Bi-Weekly</label>
                        <label class="checkbox-inline">
                        <input type="radio" ng-model="$parent.event.notifications" value="4">&nbsp;&nbsp;Weekly</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-warning">
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="$parent.event.donation">
                        <strong>Accept Donations At This Event?</strong></label>
                        <br>
                        <label class="checkbox-inline">
                        <input type="checkbox" ng-model="$parent.event.transferable">
                        <strong>Are Tickets Transferable?</strong></label>
                    </div>
                </div>
            </div>

            <div tickets="$parent.event.tickets" formevent="formevent" id="$parent.event.id"  maxdate="$parent.event.startDate" ticketstable></div>
        </div>

    </div>
    <div class="clearfix">
        <div class="pull-right">
            <div id="prev" class="btn button-nav" ng-click="$parent.tabform = $parent.tabform == 'address' ? 'basicinfo' : 'address'" ng-hide="$parent.tabform == 'basicinfo' || !$parent.tabform">
                &lt; Back
            </div>
            <input type="submit" value="Save" class="btn button-submit" ng-click="help = true" ng-class="{'green': formevent.$valid}"  novalidate="true" tooltip data-original-title="{{formevent.$invalid ? 'Your form contains errors.' : ''}}" data-placement="bottom" data-container="body"/>
            <div id="next" class="btn button-nav" ng-click="$parent.tabform = $parent.tabform == 'basicinfo' || !$parent.tabform ? 'address' : 'tickets'" ng-hide="$parent.tabform == 'tickets'" >
                Continue &gt;
            </div>
        </div>
    </div>
</form>


