<div class="cache-white"></div>
<div class="col-md-12 bg-burgundy header-event">
    <div class="pull-right returnlink hidden-xs">
        <a href="#/events" class="btn notrounded yellow">&lt; Back to My Events</a>
        <a href="https://joynr.co/{{ev.id}}" class="btn notrounded yellow" target="_blank" ng-if="$root.roles.indexOf('link') == -1"><i class="fa fa-television "></i>  View &gt;</a>
        <a href="https://joynr.co/{{ev.id}}/{{$root.userid}}" class="btn notrounded yellow" target="_blank" ng-if="$root.roles.indexOf('link') > -1"><i class="fa fa-television "></i>  View My Event</a>
    </div>
    <h1 class="eventtitle">{{ev.name}}&nbsp; </h1>
</div>
<div class="btn-group visible-xs-block bg-burgundy bg-burgundy col-md-12 menuevent ">
    <a class="btn notrounded dropdown-toggle pull-right" data-toggle="dropdown" href="" aria-expanded="false">
        Menu
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right" role="menu">
        <li class="{'active': tab == 'manage'}" ng-click="tab = 'manage';">
            <a  href="#/review/{{ev.id}}"><i class="icon-settings" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1"></i> Overview </a>
        </li>
        <li ng-class="{'active': tab == 'tickets'}" ng-click="tab = 'tickets';" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('tickets') > -1">
            <a  href="#/tickets/{{ev.id}}"><i class="fa fa-ticket"></i> Tickets & Guest List</a>
        </li>
        <li ng-class="{'active': tab == 'edit'}" ng-click="tab = 'discounts';"  ng-if="$root.roles.indexOf('admin') > -1">
            <a  href="#/links/{{ev.id}}"><i class="icon-wrench"></i> Performance Tracking </a>
        </li>
         <li ng-class="{'active': tab == 'edit'}" ng-click="tab = 'edit';" ng-show="!(ev.dateEnd | dateBeforeClass)" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('edit') > -1">
            <a  href="#/edit/{{ev.id}}"><i class="icon-wrench"></i> Edit Event</a>
        </li>
        <li ng-class="{'active':page}">
            <a href="https://joynr.co/{{ev.id}}" target="_blank"><i class="fa fa-television" ng-if="$root.roles.indexOf('link') == -1"></i>  View My Event</a>
            <a href="https://joynr.co/{{ev.id}}/{{$root.userid}}" target="_blank"><i class="fa fa-television" ng-if="$root.roles.indexOf('link') > -1"></i>  View My Event</a>
        </li>
    </ul>
</div>
<div class="hidden-xs bg-burgundy col-md-12 menuevent btn-group-justified">
    <a  href="#/review/{{ev.id}}" ng-class="{'active': tab == 'manage'}" ng-click="tab = 'manage';" class="btn notrounded" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1">
        <i class="icon-settings" ></i> Overview
    </a>
    <a  href="#/tickets/{{ev.id}}" ng-class="{'active': tab == 'tickets'}"  ng-click="tab = 'tickets';" class="btn notrounded" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('tickets') > -1">
        <i class="fa fa-ticket"></i> Tickets & Guest List
    </a>
    <a href="#/links/{{ev.id}}" ng-class="{'active': tab == 'links'}"  ng-click="tab = 'links';" class="btn notrounded" ng-if="$root.roles.indexOf('admin') > -1" >
        <i class="icon-user"></i> Performance Tracking
    </a>
    <a  href="#/edit/{{ev.id}}" ng-class="{'active': tab == 'edit'}" ng-click="tab = 'edit';" ng-show="!(ev.dateEnd | dateBeforeClass)" class="btn notrounded" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('edit') > -1">
        <i class="icon-wrench"></i> Edit Events
    </a>
</div>
<div class="clearfix"></div>
<div class="cache-counter-white"></div>


