<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/dashboard">
            <img src="images/logo.png" alt="logo" class="logo-default" width="150px"/> </a>
        
        <div class="menu-toggler sidebar-toggler" ng-click="$root.$sidebarShow = $root.$sidebarShow ? false : true"></div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="https://graph.facebook.com/{{$rootScope.fbid}}/picture?type=square" ng-if="$rootScope.fbid != null"/>
                    <span class="username username-hide-on-mobile"> {{$root.name}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li ng-if="$root.admin">
                        <a href="#/accounts">
                            <i class="icon-user"></i> Accounts </a>
                    </li>
                    <!-- <li>
                        <a href="#/payements">
                            <i class="fa fa-usd"></i> My Payments </a>
                    </li> -->
                    <li>
                        <a href="#/account">
                            <i class="icon-user"></i> My Account </a>
                    </li>
                    <li>
                        <a href="http://localhost/~YohannM/joynr/public/website/account/profil">
                            <i class="glyphicon glyphicon-qrcode"></i> My Tickets </a>
                    </li>
                    <li>
                        <a href="#/help">
                            <i class="icon-info"></i> Help </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="#/logout" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->