<div class="page-sidebar navbar-collapse collapse ">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': $root.$sidebarShow}">
        <li class="start nav-item" ng-class="{'active': $root.dashboard}">
            <a href="#/dashboard">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected" ng-show="$root.dashboard"></span>
            </a>
        </li>
        <li class="nav-item" ng-class="{'active': $root.events}">
            <a href="#/events" class="nav-link">
                <i class="icon-settings"></i>
                <span class="title">All Events</span>
                <span class="selected" ng-show=" $root.events"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item start" ng-repeat="(key, year) in $root.dates">
                    <a class="nav-link " href="" ng-click="yearclick = !yearclick;">
                        <span class="title">{{key}}</span>
                    </a>
                    <ul class="sub-menu" ng-class="{'open': yearclick || key == '{{$root.date | date:'yyyy'}}' }">
                        <li class="nav-item" ng-repeat="(key, month) in year">
                            <a class="nav-link" href="" ng-click="monthclick = !monthclick">
                                <span class="title">{{key}}</span>
                            </a>
                            <ul class="sub-menu" ng-class="{'open': monthclick || key == '{{$root.date | date:'MMMM'}}'}">
                                <li class="nav-item" ng-repeat="(key, value) in month" ng-class="{'active':  key == '{{$root.date | date:'EEE, dd'}}'}">
                                    <a class="nav-link" href="#/events/{{value[1]}}">
                                        <span class="title">{{key}}</span>
                                        <span class="badge badge-success">{{value[0]}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-class="{'active': $root.network}">
            <a href="#/network" class="nav-link">
                <i class="fa fa-share-alt"></i>
                <span class="title">Network</span>
                <span class="selected" ng-show="$root.network"></span>
            </a>
        </li>
        <li class="nav-item" ng-class="{'active': $root.add}">
            <a href="#/event/add" class="nav-link add">
                <i class="icon-wrench"></i>
                <span class="title">Create an Event</span>
                <span class="selected" ng-show="$root.add"></span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>