<div class="col-md-3 hidden-xs">Filter by:</div>
<div class="col-md-6 hidden-xs">Segment:</div>
<div class="col-md-3 hidden-xs">Add/Clear </div>
<div ng-repeat="filter in filters">
    <div class="col-md-12 row">
        <div class="col-md-3">
            <div class="form-group" style="with:100%">
                <ui-select ng-model="$parent.filter.filter" theme="bootstrap" ng-required="true" name="uFilter" ng-change="$parent.filter.segment = ''">
                    <ui-select-match placeholder="Filter">{{$select.selected.filter}}</ui-select-match>
                    <ui-select-choices repeat="item in ($parent.filterslist | filter: $select.search)">
                        <span ng-bind="item.filter"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-class="{'col-md-7':filter.filter.number,'row':filter.filter.number}">
                <div class="form-group" style="with:100%" >
                    <ui-select ng-model="$parent.filter.segment" theme="bootstrap" ng-required="true" name="uSegment" ng-disabled="!$parent.filter.filter">
                        <ui-select-match placeholder="Segment">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in ($parent.filter.filter.segment | filter: $select.search)">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-5" ng-if='filter.filter.number'>
                <div class="form-group" style="with:100%" >
                    <input type="number"  class="form-control" name="uNumber" ng-model="filter.number" min="1" />
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <a href="" ng-click="addFilter()" ng-if="$last" style="font-size: 25px;" class="font-green-jungle"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ></span></a>
            <a href="" ng-click="removeFilter($index)" ng-if="!$last" style="font-size: 25px;" class="font-red-thunderbird"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span></a>
        </div>
    </div>
</div>