<br/><br/>
<div class="row" ng-show="success">
    <div class="col-md-12">
        <br/>
        <div class="note note note-success">
            <p>Your guest has been saved</p>
        </div>
    </div>
</div>
<div class="row" ng-show="error">
    <div class="col-md-12">
        <br/>
        <div class="note note note-danger">
            <p>We've encountered a problem. Make sure the information your entered are correct or reload and try again</p>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
    </div>
</div>
<form  ng-submit="form.$valid && submit()" enctype="multipart/form-data" accept-charset="utf-8" name="form">
    <div  class="col-md-12 form-group">
        <div class="form-group row" ng-class="{'has-error':form.uName.$invalid && form.uName.$touched && form.uName.$error.required, 'has-sucess':form.uName.$valid}">
            <label for="uName" class="control-label col-md-3 text-right">Name<span class="required">* </span></label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="uName" ng-model="guest.name" ng-minlength="2" ng-required="true" tooltip title="Name of the guest" data-placement="right" data-container="body"/>
                <span ng-show="form.$submitted || form.uName.$touched">
                    <span ng-show="form.uName.$error.required" class="required">Please enter the name of your guest.</span> 
                    <span ng-show="form.uName.$error.minlength" class="required">The guest name should be 2 characters minimum.</span>
                </span>
            </div>
        </div>
        <div id="uEmail" class="form-group row" ng-class="{'has-error':form.uEmail.$invalid && form.uEmail.$touched, 'has-sucess':form.uEmail.$valid}">
            <label class="control-label col-md-3 text-right">Email<span class="required">* </span> </label>
            <div class="col-md-6">
                <input name="uEmail" type="email" class="form-control" ng-model="guest.email" ng-required="true" tooltip title="Email of the guest" data-placement="right" data-container="body"/>
                <span ng-show="form.$submitted || form.uEmail.$touched">
                    <span ng-show="form.uEmail.$error.required" class="required">Please enter your guest email address.</span>
                     <span ng-show="form.uEmail.$error.email" class="required">Please enter a correct email address.</span>
                </span>
            </div>
        </div>
        <div id="uTickets" class="form-group row" ng-class="{'has-error':form.uTickets.$invalid && form.uTickets.$touched, 'has-sucess':form.uTickets.$valid}">
            <label class="control-label col-md-3 text-right">Tickets<span class="required">* </span> </label>
            <div class="col-md-6">
                <select name="uTickets" class="form-control" tooltip placeholder="20" ng-model="guest.tickets" title="Associate this guest to one specific ticket type." ng-options="ticket.name for ticket in ticketlist track by ticket.ticketid"/></select>
                <span ng-show="form.$submitted || form.uTickets.$touched">
                    <span ng-show="form.uTickets.$error.required" class="required">Please select a ticket.</span>
                </span>
            </div>
        </div>
        <div id="uComment" class="form-group row" ng-class="{'has-error':form.uTickettype.$invalid && form.uTickettype.$touched, 'has-sucess':form.uTickettype.$valid}">
            <label for="uComment" class="col-md-3 text-right control-label">
                Comment
            </label>
            <div class="col-md-6">
                <textarea ng-model="guest.comment" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="text-center">
            <div>
                <input type="submit" value="Add my guest" class="btn button-submit" ng-click="help = true" ng-class="{'green': form.$valid}"/>
            </div>
        </div>
    </div>
</form>
<br/><br/>

