<br/><br/>
<div class="row" ng-show="success">
    <div class="col-md-12">
        <br/>
        <div class="note note note-success">
            <p>Your list has been saved</p>
        </div>
    </div>
</div>
<div class="row" ng-show="error">
    <div class="col-md-12">
        <br/>
        <div class="note note note-danger">
            <p>We've encountered a problem. Make sure the information your entered are correct or reload and try again</p>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
    </div>
</div>
<form  ng-submit="form.$valid && submit()" enctype="multipart/form-data" accept-charset="utf-8" name="form">
    <div  class="col-md-12 form-group">
        <div class="col-md-12 text-center">
            <p>Add a new list of tickets to your event: Simply copy/paste your excel spreadsheet in the form below.<br/>
                Make sure the data is in the following order: firstname*, lastname*, quantity*, ticket type* <br/>
                <span class="required ">*</span> these fields are mandatory.
            </p>
            <p ng-show="form.$submitted || form.uList.$touched">       
                <span ng-show="form.uList.$error.required" class="required text-center">Please enter the data.</span>
                <span ng-show="form.uList.$error.pattern" class="required text-center">The pattern of your list doesn't match the pattern asked.</span>
            </p>
        </div>
        <div class="form-group row" ng-class="{'has-error': form.uList.$invalid && form.uList.$touched && form.uList.$error.required, 'has-sucess':form.uList.$valid}">
            <div id="uList" class="form-group row" ng-class="{'has-error': form.uList.$invalid && form.uList.$touched && form.uList.$error.required, 'has-sucess':form.form.uList.$valid}">

                <div class="col-md-12">
                    <textarea ng-pattern="/^[a-zA-Z](([^\t\n]+\t){2}(\d\t)([a-zA-Z][^\t\n]+)(\n|$))+/i" ng-model="list.data" class="form-control" rows="5" name="uList" placeholder="First Name...    Last Name...    Quantity...    Ticket Type...    Email Address..." required ></textarea>
                </div>
            </div>
            <div class="text-center">
                <div>
                    <input type="submit" value="Add my list" class="btn button-submit" ng-click="help = true" ng-class="{'green': form.$valid}"/>
                </div>
            </div>
        </div>
    </div>
</form>
<br/><br/>

