<div class="responsive-table-line">
    <table class="table table-striped table-hover table-bordered" id="addTickets_table">
        <thead class="hidden-xs">
            <tr>
                <th width="20%">
                    Affiliate <span class="required">*</span>
                </th>
                <th width="10%">
                    Admin
                </th>
                <th width="10%">
                    Overview
                </th>
                <th width="10%">
                    Discounts
                </th>
                <th width="10%">
                     Tickets  
                </th>
                <th width="10%">
                    Guests
                </th>
                <th width="10%">
                    Edit
                </th>
                <th width="10%">
                    Link
                </th>
                <th width="10%">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd" roles="row" ng-repeat="affiliate in affiliates" >
                <td data-title="affiliate" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_user' + $index].$touched) && form['uAffiliate_user' + $index].$error.required}">
                        <ui-select ng-model="$parent.affiliate.promoter" ng-required="true" name="uAffiliate_user">
                            <ui-select-match placeholder="Affiliate account email">
                                <span ng-bind="$select.selected.email"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in users track by item.id"
                                               refresh="refreshUsers($select.search)"
                                               refresh-delay="0">>
                                <span ng-bind="item.email"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </td>
                <td data-title="admin" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_admin' + $index].$touched) && form['uAffiliate_admin' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.admin" name="{{'uAffiliate_admin' + $index}}" data-original-title="Grant acces to your user at all." ng-click="checkAll(affiliate)"/>
                    </div>
                </td>
                <td data-title="manage" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_manage' + $index].$touched) && form['uAffiliate_manage' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.manage" name="{{'uAffiliate_manage' + $index}}" data-original-title="Grant access to manage." ng-disabled="affiliate.roles.admin"/>
                    </div>
                </td>
                <td data-title="discounts" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_discounts' + $index].$touched) && form['uAffiliate_discounts' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.discounts" name="{{'uAffiliate_discounts' + $index}}" data-original-title="Grant access to dicounts function on tickets page." ng-disabled="affiliate.roles.admin"/>
                    </div>
                </td>
                <td data-title="tickets" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_tickets' + $index].$touched) && form['uAffiliate_tickets' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.tickets" name="{{'uAffiliate_tickets' + $index}}" data-original-title="Grant access to tickets." ng-disabled="affiliate.roles.admin"/>
                    </div>
                </td>
                <td data-title="guest" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_guest' + $index].$touched) && form['uAffiliate_guest' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.guest" name="{{'uAffiliate_guest' + $index}}" data-original-title="Grant access to add a guest on tickets page." ng-disabled="!affiliate.roles.tickets || affiliate.roles.admin"/>
                    </div>
                </td>
                <td data-title="edit" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_edit' + $index].$touched) && form['uAffiliate_edit' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.edit" name="{{'uAffiliate_edit' + $index}}" data-original-title="Grant access to edit." ng-disabled="affiliate.roles.admin"/>
                    </div>
                </td>
                <td data-title="Link" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(form.$submitted || form['uAffiliate_link' + $index].$touched) && form['uAffiliate_link' + $index].$error.required}">
                        <input class="form-control" type="checkbox"  tooltip ng-model="affiliate.roles.link" name="{{'uAffiliate_link' + $index}}" data-original-title="Create an affiliate link ." ng-disabled="affiliate.roles.admin" />
                    </div>
                </td>
                <td data-title="Delete" class="inTicket">
                    <a class="btn btn-danger" ng-click="removeAffiliate($index)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel</a>
                </td>
            </tr>
            <tr ng-show="discounts.length == 0"><td colspan="7" class="text-center">No affiliate</td> </tr>
        </tbody>   
    </table>
</div>
<div class="table-toolbar">
    <div class="col-md-12">

        <div class="text-center">
            <div id="freeTicket_add" class="btn green" ng-click="addAffiliate()">
                <i class="fa fa-plus"></i> New affiliate
            </div>
        </div>

    </div>
</div>