<a class="btn notrounded" href="" ng-click="confirm()" ng-class="{'yellow-gold':!event.confirmed, 'green':event.confirmed}">
    <span ng-if="!event.confirmed">Confirm</span>
    <span ng-if="event.confirmed"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirmed</span>
</a>