<div class="clearfix"></div>
<div class="col-md-6">
    <div class="form-group form-md-line-input">
        <label for="uStartDate" class="col-md-4 text-right control-label">
            <span class="required">*</span> Start Date
        </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" id="startdate"
                       datetimepicker
                       datetimepicker-options="{{ datetimepicker_options_start}}"
                       name="uStartDate"
                       ng-model="start_date" ng-change="getDateStartAndEnd()" ng-click='clickeventdate = !clickeventdate'
                       tooltip title="Select date the event starts" data-placement="left" data-container="body" />
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span ng-show="formevent.$submitted || formevent.uStartDate.$touched || help">
                <span ng-show="formevent.uStartDate.$error.required" class="required">You should chose a start date</span> 
            </span>
        </div>
    </div>
    <div class="form-group form-md-line-input">
        <label for="uStartHour" class="col-md-4 text-right control-label">
            <span class="required">*</span> Start Hour

        </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" id="starthour" name="uStartHour" timepicker default-time="start_hour" ng-model="start_hour" ng-change="getDateStartAndEnd(true)" ng-click='clickeventdate = true' tooltip title="Select time the event starts" data-placement="left" data-container="body" required/>
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
            <span ng-show="formevent.$submitted || formevent.uStartHour.$touched || help">
                <span ng-show="formevent.uStartHoure.$error.required" class="required">You should chose a start hour</span> 
            </span>
        </div>
    </div>
</div>
<div class="col-md-6 enddatecountainer">
    <div class="form-group form-md-line-input">
        <label for="uEndDate" class="col-md-4 text-right control-label">
            <span class="required">*</span> End Date
        </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" id="enddate"
                       datetimepicker
                       datetimepicker-options="{{ datetimepicker_options_end}}"
                       name="uEndDate"
                       ng-model="enddateevent" ng-change="getDateStartAndEnd()" ng-click='clickeventdate = !clickeventdate'
                       tooltip title="Select date the event ends" data-placement="left" data-container="body">   
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span ng-show="formevent.$submitted || formevent.uEndDate.$touched || help">
                <span ng-show="formevent.uEndDate.$error.required" class="required">You should chose a end date</span> 
            </span>
        </div> 
    </div>
    <div class="form-group form-md-line-input">
        <label for="uEndHour" class="col-md-4 text-right control-label">
            <span class="required">*</span> End Hour
        </label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" id="endhour" class="form-control" name="uEndHour" timepicker default-time="endhourevent" ng-model="endhourevent" ng-change="getDateStartAndEnd(true)" ng-click='clickeventdate = true' tooltip title="Select time the event ends" data-placement="left" data-container="body" required/>
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            </div>
            <span ng-show="formevent.$submitted || formevent.uEndHour.$touched || help">
                <span ng-show="formevent.uEndHour.$error.required" class="required">You should chose a end hour</span> 
            </span>
        </div> 
    </div>
</div>
<div class="clearfix"></div>
<br/>
<br/>