<div class="responsive-table-line">
    <table class="table table-striped table-hover table-bordered" id="addTickets_table">
        <thead>
            <tr>
                <th width="18%">
                    Discount Code<span class="required">*</span></small>
                </th>
                <th width="18%">
                    Applies To</small>
                </th>
                <th width="8%">
                    Amount $<span class="required">*</span></small>
                </th>
                <th width="8%">
                    Quantity<span class="required">*</span></small>
                </th>
                <th width="8%">
                    Unique Codes</small>
                </th>
                <th width="18%">
                    Discount Ends<span class="required">*</span></small>
                </th>
                <th width="10%" ng-show="!id">
                    Delete</small>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd" role="row" ng-repeat="discount in discounts" >
                <td data-title="Code" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_code' + $index].$touched) && formevent['uDiscounts_code' + $index].$error.required}">
                        <input class="form-control" type="text" data-placement="bottom" placeholder="Early Bird, RSVP..."  name="{{'uDiscounts_code' + $index}}" ng-model="discount.code" title="Give your discount a name, like General Admission, Early Bird, RSVP, etc." required tooltip/>
                    </div>
                </td>
                <td data-title="Ticket" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_tickets' + $index].$touched) && formevent['uDiscounts_tickets' + $index].$error.required}">
                        <select class="form-control" tooltip placeholder="20" ng-model="discount.tickets" name="{{'uDiscounts_tickets' + $index}}" data-original-title="Associate this discount to one specific ticket type. Only the selected ticket will be discounted with this code." ng-options="ticket.name for ticket in tickets track by ticket.id"/></select>
                        <p ng-show="formevent['uDiscounts_tickets' + $index].$error.required">You must select a ticket.</p>
                    </div>
                </td>
                <td data-title="Amount" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_discount' + $index].$touched) && formevent['uDiscounts_discount' + $index].$error.required}">
                        <input class="form-control" type="number" step="1" tooltip placeholder="20" ng-model="discount.discount" name="{{'uDiscounts_discount' + $index}}" size="5" min="0" data-original-title="How much is the discount? (in $). Set to 0 if this code is meant to unhide hidden tickets to guests" required/>
                    </div>
                </td>
                <td data-title="Quantity" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_quantity' + $index].$touched) && (formevent['udiscounts_quantity' + $index].$error.required || formevent['udiscounts_quantity' + $index].$error.min)}">
                        <input class="form-control" type="number" tooltip placeholder="100" required ng-model="discount.totalQuantity" name="{{'udiscounts_quantity' + $index}}" size="4" min="1" data-original-title="Enter the total number of discounts available for this discount type"/>
                    </div>
                </td>
                <td data-title="Unique" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_unique' + $index].$touched) && (formevent['udiscounts_unique' + $index].$error.required || formevent['udiscounts_unique' + $index].$error.min)}">
                        <input class="form-control" type="checkbox" tooltip ng-model="discount.unique" name="{{'udiscounts_unique' + $index}}"  data-original-title="Unique Codes. Generate a list of unique codes for individual codes. If set to true, your client can use it only once. Each code give access to one discounted ticket and let your clients buy more tickets at regular price if they want."/>
                    </div>
                </td>
                <td data-title="Sales End" class="inTicket">
                    <div class="form-group" style="position:relative" ng-class="{'has-error':(formevent.$submitted || formevent['uDiscounts_datetime' + $index].$touched) && formevent['uDiscounts_datetime' + $index].$error.required}">
                        <input type="text" class="form-control" id="{{'uDiscounts_datetime' + $index}}" 
                               tooltip placeholder="Click me!" 
                               datetimepicker size="15"  data-original-title="End your discount sales at a certain time or when another discount type sells out"
                               datetimepicker-options="{ format:'YYYY-MM-DD LT'}" ng-trim="false"
                               name="{{'udiscounts_datetime' + $index}}"
                               ng-model="discount.dateEnd" required/>
                    </div>
                </td>
                <td data-title="Delete" class="inTicket">
                    <a class="btn btn-danger" ng-click="removeDiscount($index)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel</a>
                </td>
            </tr>
            <tr ng-show="discounts.length == 0"><td colspan="7" class="text-center">No discount</td> </tr>
        </tbody>   
    </table>
</div>