<a class="btn notrounded" href="" ng-click="highlight()" ng-class="{'yellow-gold':!event.highlight, 'green':event.highlight}">
    <span ng-if="!event.highlight">Highlight</span>
    <span ng-if="event.highlight"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Highlighted</span>
</a>