<br/><br/>
<form class="form-inline">
    <div class="form-group">
        <label for="width">Width:&nbsp;</label>
        <input type="number" class="form-control" name="width" ng-model="iframe.width">
    </div>
    &nbsp;
    <div class="form-group">
        <label for="height">Height:&nbsp;</label>
        <input type="number" class="form-control" name="height" ng-model="iframe.height">
    </div>
&nbsp;
<div class="form-group">
        <label for="height">Background color:&nbsp;</label>
        <color-picker ng-model="iframe.backgroundcolor" options="options"  style="display: inline-block; vertical-align: middle; width: auto;"></color-picker>
    </div>
</form>
<br/>
<h4>My Code:</h4>
<pre class="col-md-12">
&#x3C;div id=&#x22;joynr-root&#x22;  data-appid=&#x22;{{iframe.id}}&#x22; data-width=&#x22;{{iframe.width}}&#x22; data-height=&#x22;{{iframe.height}}&#x22; data-backgroundcolor=&#x22;{{iframe.backgroundcolor}}&#x22;&#x3E;&#x3C;/div&#x3E;
&#x3C;script&#x3E;(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = &#x22;//joynr.co/assets/website/javascripts/sdk.js &#x22;;
  fjs.parentNode.insertBefore(js, fjs);
}(document, &#x27;script&#x27;, &#x27;joynr-sdk&#x27;));&#x3C;/script&#x3E;
</pre>
<br/><br/>

