<div class="responsive-table-line">
    <table class="table table-striped table-hover table-bordered" id="addTickets_table">
        <thead class="hidden-xs">
            <tr>
                <th>
                    Name <span class="required">*</span>
                </th>
                <th>
                    Type <span class="required">*</span>
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd" role="row" ng-repeat="link in links| filter:{type: '!0'}" >
                <td data-title="name" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['uLinks_name' + $index].$touched) && formevent['uLinks_name' + $index].$error.required}">
                        <input class="form-control" type="text" data-placement="top" placeholder="Early Bird, RSVP..."  name="{{'uLinks_name' + $index}}" ng-model="link.name" title="Give your link a name" required tooltip/>
                    </div>
                </td>
                <td data-title="type" class="inTicket" style="width: 300px;">
        <ui-select ng-model="$parent.link.type" ng-required="true" name="uType" tooltip title="Type of link" data-placement="top" data-container="body" >
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item.id as item in (types | filter: $select.search) track by $index">
                {{item.name}}
            </ui-select-choices>
        </ui-select>
        </td>
        <td data-title="Delete" class="inTicket">
            <a class="btn btn-danger" ng-click="removeLink($index)"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel</a>
        </td>
        </tr>
        <tr ng-show="links.length == 0"><td colspan="7" class="text-center">No links</td> </tr>
        </tbody>   
    </table>
</div>
<div class="table-toolbar">
    <div class="col-md-12">
        <div class="text-center">
            <div id="freeTicket_add" class="btn green" ng-click="addLinks()">
                <i class="fa fa-plus"></i> New link
            </div>
        </div>
    </div>
</div>