<div map-lazy-load="https://maps.google.com/maps/api/js?libraries=places">
    <div class="form-group form-md-line-input">
        <label for="uPlace" class="control-label col-md-2 text-right">
            <span class="required">* </span><span class="title" ng-class="{'has-error':(formevent.uPlace.$error.required || formevent.uPlace.$error.invalid) && formevent.uPlace.$touched}">Select a Venue</span>
        </label>
        <div class="col-md-10">
            <div class="input-group" ng-class="{'has-success':formevent.uPlace.$valid,'has-error':(formevent.uPlace.$error.required || formevent.uPlace.$error.invalid) && formevent.uPlace.$touched || (formevent.uPlace.$error.required || formevent.uPlace.$error.invalid) && help }">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-show="!formevent.uPlace.$valid && (!formevent.uPlace.$error.required || !formevent.uPlace.$error.invalid) && !formevent.uPlace.$touched"></span>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="formevent.uPlace.$valid"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-show="(formevent.uPlace.$error.required || formevent.uPlace.$error.invalid) && formevent.uPlace.$touched"></span>
                </span>
                <input type="text" id="venueSearchBar" class="form-control" places-auto-complete ng-model="address" name="uPlace" component-restrictions="{country:'us'}" types='[ "establishment", "geocode" ]' on-place-changed="placeSearchInputChanged()" ng-blur="placeChanged()" ng-required="true"/>
                <span id="orSeparator">OR</span>
                <span class="input-group-btn"> 
                    <button class="btn notrounded green" type="button" ng-click="toggleManual = !toggleManual" style="border-radius:0px;margin-left:20px;"><span ng-hide="toggleManual"><i class="fa fa-plus" ></i> Add Venue Manually</span><span ng-show="toggleManual"><i class="fa fa-hand-o-left" ></i> Enter Address First</span></button>
                </span>
            </div>
            <span ng-show="formevent.$submitted || (formevent.uPlace.$touched && !formevent.uPlace.$valid || help && !formevent.uPlace.$valid)" class="required">
                <span ng-show="formevent.uPlace.$error.required">Please fill out all the fields related to the location of the event</span>
                <span ng-show="formevent.uPlace.$error.invalid">The adress you choose is invalid.</span>
                <span ng-show="formevent.uPlace.$error.invalid">The address you choose is imcomplete. But you can complete it.</span>
            </span>
        </div>
    </div>
    <div id="uPlace" class="col-md-10 col-md-offset-2" >
        <ng-map center="{{event.placeLat}},{{event.placeLng}}" zoom="11" single-info-window="true" scrollwheel="false" style="height:200px;" default-style="false">
            <marker position="{{event.placeLat}},{{event.placeLng}}" icon="images/target.png" visible="false" id="search">
            </marker>
        </ng-map>
    </div>
</div>
<div class="col-md-12" ng-if="addVenue" >
    <div class="row addVenue" id="uPlaceName">
        <div class="form-group form-md-line-input" ng-class="{'has-error':formevent.uPlaceName.$error.required && formevent.uPlaceName.$touched || help && formevent.uPlaceName.$error.required, 'has-sucess':!formevent.uPlaceName.$error.required && formevent.uPlaceName.$touched}">
            <label for="uPlaceName" class="control-label col-md-2 text-right"><span class="required">* </span>Venue Name </label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="uPlaceName" ng-model="event.placeName" ng-required="true" tooltip title="Name of the Place" data-placement="left" data-container="body" ng-disabled="!toggleManual"/>
                <span ng-show="formevent.$submitted || formevent.uPlaceName.$touched || help && formevent.uPlaceName.$error.required">
                    <span ng-show="formevent.uPlaceName.$error.required" class="required">Enter name of the venue where the event takes place</span> 
                </span>
            </div>
        </div>
        <div id="uPlaceAddress" class="form-group form-md-line-input" ng-class="{'has-error':formevent.uPlaceAddress.$error.required && formevent.uPlaceAddress.$touched || help && formevent.uPlaceAddress.$error.required, 'has-sucess':!formevent.uPlaceAddress.$error.required && formevent.uPlaceAddress.$touched}">
            <label class="control-label col-md-2 text-right"><span class="required">* </span>Address </label>
            <div class="col-md-10">
                <input  name="uPlaceAddress" type="text" class="form-control" ng-model="event.placeAddress" ng-required="true" tooltip title="Address of the place" data-placement="left" data-container="body" ng-disabled="!addvenue"/>
                <span ng-show="formevent.$submitted || formevent.uPlaceAddress.$touched || help && formevent.uPlaceAddress.$error.required">
                    <span ng-show="formevent.uPlaceAddress.$error.required" class="required">Enter the address of the venue where the event takes place</span> 
                </span>
            </div>
        </div>
        <div id="uPlaceCity" class="form-group form-md-line-input" ng-class="{'has-error':formevent.uPlaceCity.$error.required && formevent.uPlaceCity.$touched || help && formevent.uPlaceCity.$error.required, 'has-sucess':!formevent.uPlaceCity.$error.required && formevent.uPlaceCity.$touched}">
            <label class="control-label col-md-2 text-right"><span class="required">* </span>City</label>
            <div class="col-md-10">
                <input ng-focus="empty()" name="uPlaceCity" type="text" class="form-control" ng-model="event.placeCity" ng-required="true" tooltip title="City of the Place" data-placement="left" data-container="body" ng-disabled="!addvenue"/>
                <span ng-show="formevent.$submitted || formevent.uPlaceCity.$touched || help && formevent.uPlaceCity.$error.required">
                    <span ng-show="formevent.uPlaceCity.$error.required" class="required">Enter the name of the City where the event takes place.</span> 
                </span>
            </div>
        </div>
        <div id="uPlacePostalCode" class="form-group form-md-line-input" ng-class="{'has-error':formevent.uPlacePostalCode.$error.required && formevent.uPlacePostalCode.$touched || help && formevent.uPlacePostalCode.$error.required, 'has-sucess':!formevent.uPlacePostalCode.$error.required && formevent.uPlacePostalCode.$touched}">
            <label class="control-label col-md-2 text-right"><span class="required">* </span>Postal Code</label>
            <div class="col-md-10">
                <input name="uPlacePostalCode" type="text" class="form-control" ng-model="event.placePostalCode"  ng-required="true" tooltip title="Postal code of the Place" data-placement="left" data-container="body" ng-disabled="!addvenue"/>
                <span ng-show="formevent.$submitted || formevent.uPlacePostalCode.$touched || help && formevent.uPlacePostalCode.$error.required">
                    <span ng-show="formevent.uPlacePostalCode.$error.required" class="required">Enter postal code</span> 
                </span>
            </div>
        </div>
        <div class="form-group form-md-line-input" ng-class="{'has-error':formevent.uPlaceURL.$error.url && formevent.uPlaceURL.$touched}">
            <label class="control-label col-md-2 text-right">Place URL</label>
            <div class="col-md-10">
                <input name="uPlaceURL" type="url" class="form-control" ng-model="event.link" tooltip title="Site Web of the Place" data-placement="left" data-container="body"/>
                <span ng-show="formevent.$submitted || formevent.uPlaceURL.$touched">
                    <span ng-show="formevent.uPlaceURL.$error.url" class="required">Should be an url begining with http://</span> 
                </span>
            </div>
        </div>
        <br/><br/>
        <div class="form-group form-md-line-row" >
            <label class="control-label col-md-2 text-right">Place Description</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="6" name="placeDesc" ng-model="event.placeDesc"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
<br/><br/>
</div>
