<div class="responsive-table-line">
    <table class="table table-striped table-hover table-bordered" id="addTickets_table">
        <thead class="hidden-xs">
            <tr><th width="7%">
                    <i class="fa fa-arrows-v"></i> Order
                </th>
                <th width="20%">
                    Ticket Type <span class="required">*</span>
                </th>
                <th width="5%">
                    Quantity <span class="required">*</span>
                </th>
                <th width="10%">
                    Price <span class="required">*</span>
                </th>
                <th width="15%">
                    Sales End <span class="required">*</span>
                </th>
                <th width="15%" class="hidden-md hidden-lg">
                    Details
                </th>
                <th width="10%" class="hidden-md hidden-lg">
                    Limit / Order
                </th>
                <th width="15%">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody as-sortable data-ng-model="tickets">
            <tr class="odd" role="row" ng-repeat-start="ticket in tickets" data-as-sortable-item>
                <td data-as-sortable-item-handle data-title="Order" class="inTicket">
                    <div class="number bg-grey">{{$index + 1}}</div>
                </td>
                <td data-title="Ticket Type" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['utickets_name' + $index].$touched) && formevent['utickets_name' + $index].$error.required}">
                        <input class="form-control" type="text" data-placement="top" placeholder="Early Bird, RSVP..."  name="{{'utickets_name' + $index}}" ng-model="ticket.name" title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc." required tooltip/>
                    </div>
                </td>
                <td data-title="Quantity" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['utickets_quantity' + $index].$touched) && (formevent['utickets_quantity' + $index].$error.required || formevent['utickets_quantity' + $index].$error.min)}">
                        <input class="form-control" type="number" tooltip placeholder="100" required ng-model="ticket.totalQuantity" name="{{'utickets_quantity' + $index}}" size="4" min="0" data-original-title="Enter the total number of tickets available for this ticket type"/>
                    </div>
                </td>
                <td data-title="Price" class="inTicket">
                    <div class="form-group" ng-class="{'has-error':(formevent.$submitted || formevent['utickets_price' + $index].$touched) && formevent['utickets_price' + $index].$error.required}">
                        <input class="form-control" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" string-to-number  tooltip placeholder="20" ng-model="ticket.price" name="{{'utickets_price' + $index}}" size="4" min="0" data-original-title="Set your ticket price." ng-disabled="ticket.price == 0" required/>
                    </div>
                </td>
                <td data-title="Sales End" class="inTicket">
                    <div class="form-group" style="position:relative" ng-class="{'has-error':(formevent.$submitted || formevent['utickets_datetime' + $index].$touched) && formevent['utickets_datetime' + $index].$error.required}">
                        <input type="text" class="form-control" id="{{'utickets_datetime' + $index}}" 
                               tooltip placeholder="Click me!" 
                               datetimepicker size="15"  data-original-title="End your ticket sales at a certain time or when another ticket type sells out"
                               datetimepicker-options="{format:'YYYY-MM-DD LT'}" ng-trim="false"
                               name="{{'utickets_datetime' + $index}}"
                               ng-model="ticket.dateEnd" required/>
                    </div>
                </td>
                <td data-title="Limit / Order" class="inTicket hidden-md hidden-lg">
                    <input class="form-control" type="text" tooltip placeholder="Optional" ng-model="ticket.description" name="{{'utickets_desc' + $index}}" data-original-title="Optional: Tell your attendees more about this ticket type."/>
                </td>
                <td data-title="Details" class="inTicket hidden-md hidden-lg">
                    <input class="form-control" type="number" tooltip placeholder="Unlimited" ng-model="ticket.limitPerUser" name="{{'utickets_limit' + $index}}" size="4" min="0" data-original-title="Optional: Limit the maximum number of tickets per order. Leave blank or set to 0 for unlimited">
                </td>
                <td data-title="Actions" class="inTicket">
                    <a class="btn btn-primary hidden-xs hidden-sm" ng-click="show = !show"><i class="icon-settings"></i> More</a>
                    <a class="btn btn-danger" ng-click="removeTicket($index)" ng-if="ticket.totalQuantity - ticket.remainingQuantity == 0 || !ticket.id"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Cancel</a>
                    <a class="btn btn-warning" ng-click="soldoutTicket()" ng-if="ticket.totalQuantity - ticket.remainingQuantity > 0 && ticket.remainingQuantity > 0"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> End Sales</a>
                </td>
            </tr >
            <tr ng-repeat-end ng-if="show">
                <td role="row" colspan="8">
                    <div class="row">
                        <div class="form-group col-sm-5" ng-if="ticket.price != 0 && $root.roles.indexOf('promoterFees') > -1">
                            <label for="{{'utickets_cfees' + $index}}">Add custom fees:</label>
                            <input class="form-control" type="number" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" string-to-number  tooltip placeholder="1,0" ng-model="ticket.promoterFees" name="{{'utickets_cfees' + $index}}" size="4" min="0" data-original-title="Optional: Add more value to your tiket with adding to the fees">              
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="{{'utickets_limit' + $index}}">Limit / Order:</label>
                            <input class="form-control" type="number" tooltip placeholder="Unlimited" ng-model="ticket.limitPerUser" name="{{'utickets_limit' + $index}}" size="4" min="0" data-original-title="Optional: Limit the maximum number of tickets per order. Leave blank or set to 0 for unlimited">              
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="{{'utickets_hidden' + $index}}">Hidden Ticket:</label>
                            <input class="form-control" type="checkbox" tooltip ng-model="ticket.hidden" name="{{'utickets_hidden' + $index}}" data-original-title="Optional: Hide this type of tickets from everyone and associate it to a discount code to unhide it. Say you want early passes only for selected guests, tick this box and create a discount code from the event overview page">              
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="{{'utickets_desc' + $index}}">Details:</label>
                            <textarea tooltip placeholder="Optional" ng-model="ticket.description" data-original-title="Optional: Tell your attendees more about this ticket type." name="{{'utickets_desc' + $index}}" class="form-control" ></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="tickets.length == 0"><td colspan="7" class="text-center">Select free or paid tickets to begin?</td> </tr>
        </tbody>   
    </table>
</div>
<div class="table-toolbar">
    <div class="col-md-12">

        <div class="text-center">
            <div id="freeTicket_add" class="btn green" ng-click="addTicket(0)">
                <i class="fa fa-plus"></i> Free Ticket
            </div>
            <div id="paidTicket_add" class="btn blue" ng-click="addTicket()">
                <i class="fa fa-plus"></i> Paid Ticket
            </div>
        </div>

    </div>
</div>