<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="pagetitle">
                        Accounts
                        <div class="pull-right">
                            <div class="portlet-input input-small input-inline">
                                <div class="input-icon right">
                                    <i class="icon-magnifier"></i>
                                    <input class="form-control form-control-solid" type="text" placeholder="search..." ng-model="query">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Paypal Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in accounts | filter: this.query ">
                    <td>{{account.name}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.phone}}</td>
                    <td>{{account.paypalAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
