<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pagetitle">
                        My Account
                    </h1>
                    <div class="col-md-12 row navinpage">
                        <a class="btn grey-mint btn-outline" href=""  ng-class="{'active': tab == 'personal'}" ng-click="tab = 'personal';"> <i class="icon-user"></i> Personal Info</a>
                        <a class="btn grey-mint btn-outline" ng-class="{'active': tab == 'password'}" href="" ng-click="tab = 'password';"><i class="fa fa-lock"></i> Change Password</a>
                        <a class="btn grey-mint btn-outline" ng-class="{'active': tab == 'payement'}" href="" ng-click="tab = 'payement';"><i class="fa fa-paypal"></i> Payment Settings</a>
                    </div>
                </div>
                <!-- PERSONAL INFO TAB -->

                <div id="personal" ng-show="tab == 'personal'" class="col-md-12">
                    <div class="clearfix"></div>
                    <form name="forminfo" ng-submit="submitInfo()" class="form-horizontal">
                        <div class="col-md-12"  ng-show="infoErrors"  >
                            <br/>
                            <div class="note note-danger">
                                <h4>Error :</h4>
                                <ul>
                                    <li ng-repeat="error in infoErrors">{{error}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-body ">
                            <div class="form-group form-md-line-input" ng-class="{'has-error':forminfo.uName.$error.required}">
                                <label class="col-md-2 text-right control-label">User Name</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="UserName" class="form-control" name="uName" ng-model="user.name" ng-maxlength="200" required/> 
                                    <span ng-show="forminfo.$submitted || forminfo.uName.$touched">
                                        <span ng-show="forminfo.uName.$error.required" class="required">Enter a username.</span> 
                                        <span ng-show="forminfo.uName.$error.maxlength" class="required">The username should not be more than 200 characters.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':forminfo.uPhone.$error.required}">
                                <label class="col-md-2 text-right control-label">Phone Number</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="We need your phone number in case there is an issue with a customer - It will be displayed on the event page" ng-maxlength="20" class="form-control" name="uPhone" ng-model="user.phone" required/> 
                                    <span ng-show="forminfo.$submitted || forminfo.uPhone.$error.required">
                                        <span ng-show="forminfo.uPhone.$error.required" class="required">Enter a phone number.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':forminfo.uEmail.$error.required}">
                                <label class="col-md-2 text-right control-label">Email</label>
                                <div class="col-md-10">
                                    <input type="email" placeholder="Email is required for contact information - It will be displayed on the event page" class="form-control" ng-maxlength="255" name="uEmail" ng-model="user.email" required/> 
                                    <span ng-show="forminfo.$submitted || forminfo.uEmail.$touched">
                                        <span ng-show="forminfo.uEmail.$error.required" class="required">Enter an email address.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':forminfo.uFbpage.$error.required}">
                                <label class="col-md-2 text-right control-label">Facebook Page URL</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Enter your Facebook page URL to link it with your promoter profile" class="form-control" ng-maxlength="255" name="uFbpage" ng-model="user.fbpage"/>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':forminfo.uInsta.$error.required}">
                                <label class="col-md-2 text-right control-label">Instagram Page URL</label>
                                <div class="col-md-10">
                                    <input type="text" placeholder="Enter your Instagram page URL to link it with your promoter profile" class="form-control" ng-maxlength="255" name="uInsta" ng-model="user.insta"/>
                                </div>
                            </div>
                            <div id="uDesc" class="form-group row" ng-class="{'has-error':forminfo.uDesc.$error.required && forminfo.uDesc.$touched || help && forminfo.uDesc.$error.required , 'has-sucess':!forminfo.uDesc.$error.required && forminfo.uDesc.$touched}">
                                <label for="uDesc" class="col-md-2 text-right control-label">
                                    <span class="required">* </span> Organizer's Info <br> <small><small style="color:grey">Describe your organisation to your fans. You can embed videos.</small></small>

                                </label>
                                <div class="col-md-10 description">
                                    <span ng-show="forminfo.$submitted || forminfo.uDesc.$touched || help && forminfo.uDesc.$error.required" >
                                        <span ng-show="forminfo.uDesc.$error.required" class="required">You should enter a description.</span>
                                        <span ng-show="forminfo.uDesc.$error.maxlength" class="required">Your description cannot exceed 50000 characters.</span>
                                    </span>
                                    <summernote ng-model="user.desc" name="uDesc" ng-maxlength="50000" config="{height: 500,  toolbar: [['edit',['undo','redo']], ['headline', ['style']], ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],['fontface', ['fontname']], ['textsize', ['fontsize']], ['fontclr', ['color']], ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']], ['height', ['height']], ['table', ['table']], ['insert', ['link','myimagedialog','video','hr']], ['view', ['codeview']], ['help', ['help']]], popover: {
                                                image: [['float', ['floatLeft', 'floatRight', 'floatNone']],['remove', ['removeMedia']]]}}" required></summernote>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{'has-error':forminfo.uPicture.$error.maxSize && forminfo.uPicture.$touched, 'has-sucess':!forminfo.uPicture.$error.maxSize && forminfo.uPicture.$touched}">
                                <label for="uPicture" class="col-md-2 text-right control-label">
                                    Background Picture
                                </label>
                                <div class="col-md-10">
                                    <div ngf-drop ngf-select ng-model="$parent.picture" class="drop-box" name="uPicture" 
                                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true"
                                         accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB" ngf-min-height="100">
                                        Drop images here or click to upload
                                    </div>
                                    <div class="col-md-10">
                                        <span class="help-block">You can choose to leave the picture field blank</span>
                                        <br/>
                                        <img ngf-src="$parent.picture" ngf-background="$parent.picture" ngf-resize="{height: 500, quality: 0.9}" ngf-no-object-url="true" class="img-responsive"/>
                                        <img ng-src="{{user.background}}" ng-if="!$parent.picture" class="img-responsive" ngf-resize="{height: 500, quality: 0.9}"/>
                                    </div>
                                    <span ng-show="forminfo.$submitted || forminfo.uPicture.$untouched">
                                        <span ng-show="forminfo.uPicture.$error.maxSize" class="required">Please enter an image less than 5MB.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="margiv-top-10">
                                <input type="submit" class="btn green button-submit pull-right" value="Save Changes"/>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END PERSONAL INFO TAB -->
                <!-- CHANGE PASSWORD TAB -->
                <div id="password" ng-show="tab == 'password'" class="col-md-12">
                    <form name="formpassword" ng-submit="submitPassword()" class="form-horizontal">
                        <div class="col-md-12"  ng-show="passwordErrors"  >
                            <br/>
                            <div class="note note-danger">
                                <h4>Error :</h4>
                                <ul>
                                    <li ng-repeat="error in passwordErrors">{{error}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12"  ng-show="passSucces">
                            <br/>
                            <div class="note note-success">
                                <h4>Success:</h4>
                                <p>
                                    Your new password is registered!
                                </p>
                            </div>
                        </div>
                        <div class="form-body ">
                            <div class="form-group form-md-line-input" ng-class="{'has-error':formpassword.uPasswordCurrent.$error.required && formpassword.uPasswordCurrent.$touched}">
                                <label class="col-md-2 text-right control-label">Current Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" ng-model="password.current" name="uPasswordCurrent" required/> 
                                    <span ng-show="formpassword.$submitted || formpassword.uPasswordCurrent.$touched">
                                        <span ng-show="formpassword.uPasswordCurrent.$error.required" class="required">Enter your password.</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':formpassword.uPasswordNew.$error.required && formpassword.uPasswordNew.$touched || !IsMatch}">
                                <label class="col-md-2 text-right control-label">New Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" ng-model="password.new" name="uPasswordNew" required ng-maxlength="20" ng-minlength="6"/> 
                                    <span ng-show="formpassword.$submitted || formpassword.uPasswordNew.$touched">
                                        <span ng-show="formpassword.uPasswordNew.$error.required">: Enter your new password.</span> 
                                        <span ng-show="!IsMatch">Password have to match!</span>
                                        <span ng-show="formpassword.uPasswordNew.$error.minlength" class="required">Password should have a least 6 characters.</span>
                                        <span ng-show="formpassword.uPasswordNew.$error.maxlength" class="required">Password should have a most 20 characters.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input" ng-class="{'has-error':formpassword.uPasswordNewRepeat.$error.required && formpassword.uPasswordNewRepeat.$touched}">
                                <label class="col-md-2 text-right control-label">Re-type New Password</label>
                                <div class="col-md-10">
                                    <span ng-show="formpassword.$submitted || formpassword.uPasswordNewRepeat.$touched">
                                        <span ng-show="formpassword.uPasswordNewRepeat.$error.required" class="required">Renter your new password.</span> 
                                        <span ng-show="formpassword.uPasswordNew.$error.minlength" class="required">Password should have a least 6 characters.</span>
                                        <span ng-show="formpassword.uPasswordNew.$error.maxlength" class="required">Password should have a most 20 characters.</span>
                                    </span>
                                    <input type="password" class="form-control" ng-model="password.renew" name="uPasswordNewRepeat" required ng-maxlength="20" ng-minlength="6"/>
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <input type="submit" class="btn green button-submit pull-right" value="Change Password"/>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END CHANGE PASSWORD TAB -->
                <!-- PAYEMENT TAB -->
                <div id="help" ng-show="tab == 'payement'"  class="col-md-12">
                    <form name="formpaypal" ng-submit="submitPaypal()">
                        <div class="form-body ">
                            <div class="col-md-12"  ng-show="paypalErrors">
                                <br/>
                                <div class="note note-danger">
                                    <h4>Error :</h4>
                                    <ul>
                                        <li ng-repeat="error in paypalErrors">{{error}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12"  ng-show="paypalSucces">
                                <br/>
                                <div class="note note-success">
                                    <h4>Success:</h4>
                                    <p>
                                        Your paypal account is registered!
                                    </p>
                                </div>
                            </div>
                            <h2>Collecting payments</h2>
                            <p>Joynr offers you Paypal payment processors to give you the flexibility to collect payments online using the payment mode that works best for you.<br>Paypal allows you to accept payments using Paypal, credit and debit cards, and other payment methods.</p>
                            <div class="form-group form-md-line-input">
                                <label class="control-label">PAYPAL EMAIL:</label>
                                <input class="form-control" type="email" placeholder="Enter Your PayPal Email Address To Be Used To Transfer Funds" name="uPaypalAddress" ng-model="user.paypalAddress" required>
                                <span ng-show="formpaypal.$submitted || formpaypal.uPaypalAddress.$touched">
                                    <span ng-show="formpaypal.uPaypalAddress.$error.required" class="required">Enter your PayPal Email Address You Use When Loggin In.</span> 
                                </span>
                            </div>
                            <p>- Provide your PayPal email address to start accepting payments and receive the revenues from your events. (If you're a new PayPal user, you'll need to follow PayPal's instructions to verify your account before you can receive any money into your bank account.)</p>
                            <p>- Funds are deposited into your PayPal account immediately after a purchase is completed, although it may take a few days for the funds to show in your bank account.</p>
                            <p>- Only the PayPal service fee (not PayPal's processing fee) can be passed on to your attendees. PayPal doesn't return their full fee if you process refunds.</p>
                            <p>
                                <a target="_blank" href="https://www.paypal.com/">Set up your PayPal merchant account.</a>
                                <br>
                                You can set up your free PayPal account at any time, even after your event is published.
                            </p>
                            <div class="margin-top-10">
                                <input type="submit" class="btn green button-submit pull-right" value="Save"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END PAYEMENT TAB -->
        </div>
    </div>
</div>
<!-- END PROFILE CONTENT -->
