<div ng-include="'views/template/header-events.html'"> </div>
<h2>Affiliates:</h2>
<div class="row" ng-show="error">
    <div class="col-md-12">
        <br/>
        <div class="note note note-danger">
            <p>We encounter a problem to add afiliates to your event. </p>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
    </div>
</div>
<div ng-show="success">
    <div class="col-md-12">
        <br/>
        <div class="note note note-success">
            <h4>Your affiliate have been saved</h4>

        </div>
    </div>
</div>
<div class="link" ng-if="links.length > 0">
<highchart id="pie" config="piechart"></highchart>
<div class="portlet-input input-small input-inline">
    <div class="input-icon right">
        <i class="icon-magnifier"></i>
        <input class="form-control form-control-solid" type="text" placeholder="search..." ng-model="query">
    </div>
</div>
<table class="table table-hover table-light">
    <thead>
        <tr class="uppercase" ng-class="{reverse:reverse}">
            <th colspan="2" ng-class="{sortorder: order == 'promoter.name' || order == '-promoter.name',reverse: order == '-promoter.name'}">
                <a href="" ng-click="order = order == 'promoter.name' ? '-promoter.name' : 'promoter.name'">USER</a>
            </th>
            <th ng-class="{sortorder: order == 'promoter.email' || order == '-promoter.email', reverse: order == '-promoter.email'}">
                <a href="" ng-click="order = order == 'promoter.email' ? '-promoter.email' : 'promoter.email'">EMAIL</a>
            </th>
            <th ng-class="{sortorder: order == 'link' || order == '-link',reverse:  order == '-link'}">
                <a href="" ng-click="order = order == 'link' ? '-link' : 'link'">LINK</a>
            </th>
            <th ng-class="{sortorder: order == 'promoter.total' || order == '-promoter.total', reverse: order == '-promoter.total'}">
                <a href="" ng-click="order = order == 'promoter.total' ? '-promoter.total' : 'promoter.total'">SALES</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="link in filtered = (links| filter: this.query | orderBy:order)" ng-click="list = link.orders.length > 0 ? !list :false" class="clickrow">
            <td class="fit">
                <img class="user-pic hidden-xs" src="{{link.picture}}" ng-show="link.picture != null">
                <img class="user-pic hidden-xs" src="https://graph.facebook.com/{{link.fb_id}}/picture?type=square" ng-show="link.picture === null && link.fb_id">
            </td>
            <td>
                {{link.promoter.name}}
            </td>
            <td>
                {{link.promoter.email}}
            </td>
            <td>
                <a href="https://joynr.co/{{link.link}}">https://joynr.co/{{link.link}}</a>
            </td>
            <td>
                {{link.orders.length}}
            </td>
        </tr>
        <tr ng-repeat-end ng-show="list">
            <td colspan="5">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th>
                                DATE
                            </th>
                            <th>
                                ID
                            </th>
                            <th>
                                QUANTITY
                            </th>
                            <th>
                                AMOUNT
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="order in link.orders">
                        <td>{{order.dateCreated| date:'short' }}</td>
                        <td>#{{order.id}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.price - order.discountTotal}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
<br/>
<br/>
<form ng-submit="form.$valid && submit()" enctype="multipart/form-data" accept-charset="utf-8" name="form" novalidate="true" scrollerrortop form="formevent">
    <div affiliates="affiliates" form="form" refresh="refreshUsers(search)" affiliatestable></div>
    <div class="clearfix">
        <div class="pull-right">
            <input type="submit" value="Save" class="btn button-submit" ng-click="help = true" ng-class="{'green': form.$valid}"  novalidate="true" tooltip data-original-title="{{formevent.$invalid ? 'Your form contains errors.' : ''}}" data-placement="bottom" data-container="body"/>
        </div>
    </div>
</form>
