<div ng-include="'views/template/header-events.html'"> </div>
<h2>Discounts</h2>

<div class="pull-right">
    <a class="btn blue notrounded" href="{{url}}/promoters-api/discounts/getExcelData/{{ev.id}}" ng-if="discounts.length > 0 && !fake">
        <i class="fa fa-ticket"></i> Excel export
    </a>
</div>
<div>
    <highchart id="pie" config="piechart" ng-if="discountstable.length > 0"></highchart>

    <div class="pull-right">
        <a class="btn green notrounded newDiscount" ng-click="newDiscount.addMode = !newDiscount.addMode" ng-if="!fake">
            <i class="fa fa-plus"></i> Add New Discount
        </a>
    </div>

    <div class="row" ng-show="error">
        <div class="col-md-12">
            <br/>
            <div class="note note note-danger">
                <p>We encountered an issue. Ply reload and try again.</p>
                <ul>
                    <li ng-repeat="error in errors">{{error}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="success">
        <div class="col-md-12">
            <br/>
            <div class="note note note-success">
                <h3>Congratulation!</h3>
                <h4>{{message}}</h4>
            </div>
        </div>
    </div>

    <form ng-if="newDiscount.addMode || discountstable.length == 0" ng-submit="addformdiscount.$valid && addDiscount(newDiscount)" novalidate enctype="multipart/form-data" accept-charset="utf-8" name="addformdiscount">
        <table class="table table-hover table-light discount-table">
            <thead>
                <tr class="uppercase">
                    <th width="22%">
                        Discount Code
                    </th>
                    <th width="20%">
                        Applies To
                    </th>
                    <th width="15%">
                        Amount
                    </th>
                    <th width="12%" class="hidden-xs">
                        Quantity
                    </th>
                    <th width="10%">
                        Unique Codes
                    </th>
                    <!-- <th width="18%" class="hidden-xs">
                        Discount Ends
                    </th> -->
                    <th width="auto"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(addformdiscount.new_code.$invalid || addformdiscount.new_code.$error.required ) &&  addformdiscount.$submitted }">
                            <input name="new_code" class="form-control" tooltip placeholder="Discount Code" type="text" ng-minlength="3" ng-maxlength="180" title="The discount code users will have to enter in our system to use a discount" data-placement="bottom" ng-model="newDiscount.code" ng-required="true"/>
                            <p ng-show="(addformdiscount.new_code.$invalid && !addformdiscount.new_code.$pristine)" class="help-block"><small>Must be at least 5 characters long</small></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(addformdiscount.new_tickets.$invalid && !addformdiscount.new_tickets.$pristine) || (addformdiscount.$submitted && addformdiscount.new_tickets.$error.required )}">
                            <select name="new_tickets" class="form-control" tooltip data-placement="bottom" ng-model="newDiscount.tickets" data-original-title="Associate this discount to one specific ticket type. Only the selected ticket will be discounted with this code." ng-options="ticket.name for ticket in tickets track by ticket.id"/></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(addformdiscount.new_discount.$invalid && !addformdiscount.new_discount.$pristine) || (addformdiscount.$submitted && addformdiscount.new_discount.$error.required)}">
                            <input name="new_discount" class="form-control" type="number" step="1" size="5" min="0" placeholder="$" tooltip data-placement="bottom" title="How much is the discount? (in $)" ng-model="newDiscount.discount" ng-required="true"/>
                        </div>
                    </td>
                    <td class="hidden-xs">
                        <div class="form-group" ng-class="{'has-error':(addformdiscount.$submitted && addformdiscount.new_totalQuantity.$error.required)}">
                            <input name="new_totalQuantity" class="form-control" type="number" step="1" min="0" tooltip data-placement="bottom" title="How many discounts are available?" ng-model="newDiscount.totalQuantity" placeholder="Quantity" ng-required="true"/>
                        </div>
                    </td>
                    <td class="hidden-xs">
                        <div class="form-group">
                            <input name="new_unique" class="form-control" size="3" title="Unique Codes. Generate a list of unique codes for individual codes. If set to true, your client can use it only once. Each code give access to one discounted ticket and let your clients buy more tickets at regular price if they want." tooltip data-placement="bottom" type="checkbox" ng-model="newDiscount.unique"/>
                        </div>
                    </td>
                    <!-- <td class="hidden-xs">
                        <div class="form-group" ng-class="{'has-error':(addformdiscount.$submitted || addformdiscount.new_dateEnd.$touched) && addformdiscount.new_dateEnd.$error.required}">
                            <input name="new_dateEnd" id="newDiscounts_datetime" class="form-control" tooltip title="End your discount sales at a certain time or when another discount type sells out" data-placement="bottom" datetimepicker-options="{format:'YYYY-MM-DD LT'}" ng-trim="false" type="text" ng-model="newDiscount.dateEnd" ng-required="true"/>
                            <p ng-show="(addformdiscount.$submitted || addformdiscount.new_dateEnd.$touched) && addformdiscount.new_dateEnd.$error.required" class="help-block"><small>The date is required</small></p>
                        </div>
                    </td> -->
                    <td style="text-align: center;">
                        <input type="submit" value="Save" class="btn btn-edit-half notrounded nopointer" ng-class="{'green': addformdiscount.$valid}"/>
                        <a class="btn notrounded btn-edit-cancel grey pull-right" ng-click="newDiscount.addMode = false"><span aria-hidden="true">&times;</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <form ng-if="discountstable.length > 0" enctype="multipart/form-data" accept-charset="utf-8" name="formdiscount" novalidate="true" form="formdiscount">
        <div class="portlet-input input-bg pull-left search-box-ticket">
            <div class="input-icon right" >
                <i class="icon-magnifier"></i>
                <input class="form-control form-control-solid " type="text" placeholder="Search discount codes by name or ticket..." ng-model="query">
            </div>
        </div>
        <table class="table table-hover table-light discount-table">
            <thead>
                <tr class="uppercase">
                    <th width="20%">
                        Discount Code
                    </th>
                    <th width="20%">
                        Applies To
                    </th>
                    <th width="10%">
                        Amount
                    </th>
                    <th width="10%" class="hidden-xs">
                        <small>Total Quantity</small>
                    </th>
                    <th width="10%">
                        <small>Remaining</small>
                    </th>
                    <th width="10%">
                        <small>Unique Codes</small>
                    </th>
                    <!-- <th width="16%" class="hidden-xs">
                        <small>Discount Ends</small>
                    </th> -->
                    <th width="auto">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="discount in discountstable| filter: this.query">
                    <td>
                        <div class="form-group" ng-class="{'has-error':(formdiscount.code.$invalid && !formdiscount.code.$pristine) || (formdiscount.$submitted && formdiscount.code.$error.required )}">
                            <span ng-hide="discount.editMode">{{discount.code}}</span>
                            <input name="code" class="form-control" tooltip placeholder="Discount Code" type="text" ng-minlength="4" ng-maxlength="25" title="The discount code users will have to enter in our system to use a discount" data-placement="bottom" ng-model="discount.code" ng-if="discount.editMode" ng-required="true"/>
                            <p ng-show="( (formdiscount.code.$invalid && !formdiscount.code.$pristine) || (formdiscount.$submitted && formdiscount.code.$error.required ) ) && discount.editMode" class="help-block"><small>Code length must be at least 5 characters long</small></p>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(formdiscount.tickets.$invalid && !formdiscount.tickets.$pristine) || (formdiscount.$submitted && formdiscount.tickets.$error.required )}">
                            <span ng-hide="discount.editMode">{{discount.tickets.name}}</span>
                            <select name="tickets" class="form-control" tooltip data-placement="bottom" ng-model="discount.tickets" ng-if="discount.editMode" data-original-title="Associate this discount to one specific ticket type. Only the selected ticket will be discounted with this code." ng-options="ticket.name for ticket in tickets track by ticket.id"/></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(formdiscount.$submitted && formdiscount.discount.$error.required)}">
                            <span ng-hide="discount.editMode">${{discount.discount}}</span>
                            <input name="discount" class="form-control" type="number" step="1" size="5" min="0" placeholder="$" tooltip data-placement="bottom" title="How much is the discount? (in $)" ng-model="discount.discount" ng-if="discount.editMode" ng-required="true"/>
                        </div>
                    </td>
                    <td class="hidden-xs">
                        <div class="form-group" ng-class="{'has-error':(formdiscount.$submitted && formdiscount.totalQuantity.$touched) || (formdiscount.$submitted && formdiscount.totalQuantity.$error.required)}">
                            <span ng-hide="discount.editMode">{{discount.totalQuantity}}</span>
                            <input name="totalQuantity" class="form-control" type="number" step="1" min="0" tooltip data-placement="bottom" title="How many discounts are available?" ng-model="discount.totalQuantity" ng-if="discount.editMode" placeholder="Quantity" ng-required="true" disabled/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" ng-class="{'has-error':(formdiscount.$submitted && formdiscount.remainingQuantity.$touched) && formdiscount.remainingQuantity.$error.required }">
                            <span ng-hide="discount.editMode">{{discount.remainingQuantity}}</span>
                            <input name="remainingQuantity" class="form-control" type="number" step="1" min="0" tooltip data-placement="bottom" title="Give your ticket a name, like General Admission, Early Bird, RSVP, etc." ng-if="discount.editMode" ng-model="discount.remainingQuantity" ng-required="true"/>
                        </div>
                    </td>
                    <td class="hidden-xs">
                        <div class="form-group" ng-class="{'has-error':(formdiscount.$submitted || formdiscount.unique.$touched) && formdiscount.unique.$error.required}">
                            <span>{{discount.unique == true ? "Yes" : "No" }}</span>
                        </div>
                    </td>
                    <!-- <td class="hidden-xs">
                        <div class="form-group" ng-class="{'has-error':(formdiscount.$submitted || formdiscount.dateEnd.$touched) && formdiscount.dateEnd.$error.required}">
                            <span ng-hide="discount.editMode">{{discount.dateEnd| date:'short' }}</span>
                            <input name="dateEnd" class="form-control" tooltip title="End your ticket sales at a certain time or when another ticket type sells out" ng-if="discount.editMode" datetimepicker-options="{format:'YYYY-MM-DD LT'}" ng-trim="false" type="text" ng-model="discount.dateEnd" ng-required="true"/>
                        </div>
                    </td> -->
                    <td>
                        <input name="id" class="form-control" ng-if="discount.editMode" type="hidden" ng-model="discount.id" value="discount.id" ng-required="true"/>
                        <input type="submit" ng-click="formdiscount.$valid && editDiscount(discount)" value="Save" class="btn btn-edit-half notrounded nopointer" ng-class="{'green': formdiscount.$valid}"  novalidate="true" tooltip data-original-title="{{formdiscount.$invalid ? 'Your form contains errors.' : ''}}" ng-if="discount.editMode" data-placement="bottom" data-container="body"/>
                        <button type="button" ng-click="removeDiscount(discount, discounts, $index)" ng-show="discount.editMode" class="btn btn-edit-half red notrounded nopointer">Remove</button>
                        <a class="btn notrounded btn-edit-cancel grey" ng-click="discount.editMode = false" ng-show="discount.editMode"><span aria-hidden="true">&times;</span></a>
                        <button type="button" ng-click="discount.editMode = true" ng-show="!discount.editMode" class="btn btn-edit yellow-saffron notrounded nopointer">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<br/>