<div class="mt-element-list">
    <div class="cache-white"></div>
    <div class="mt-list-head list-news ext-1 bg-burgundy ">
        <h1 class="eventtitle">
            My Events
        </h1>
        <div class="list-count pull-right">{{list.length}}/<span class="total">{{evlist.length}}</span> </div>
    </div>
    <div class="search col-md-12 bg-burgundy ">
        <div class="col-md-6 search-box col-sm-12 col-xs-12">
            <div class="input-group">
                <span id="basic-addon1" class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" ng-model="query" /> 
            </div>
        </div>
        <div class="col-md-6 btnfilter col-sm-12 col-xs-12">
            <div class="pull-left" ng-show="$root.admin"><button class ="btn yellow btn-outline active" ng-click="search(query)">Search</button>
                <a class="btn yellow" href="" ng-show="$root.admin" ng-click="order = '-sales'" ng-class="{'active':order == '-dateStart' || !order }" >
                    <i class="icon-rocket"></i> 
                    Most Sales First
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="pull-left">
                Sort by date
                <a class="btn yellow btn-outline" href="" ng-click="order = 'dateStart'" ng-class="{'active':order == 'dateStart'}">
                    <i class="fa fa-arrow-up"></i>
                </a>
                <a class="btn yellow btn-outline" href="" ng-click="order = '-dateStart'" ng-class="{'active':order == '-dateStart' || !order }">
                    <i class="fa fa-arrow-down"></i>
                </a>
            </div>
            <div class="pull-left" ng-if="!$root.admin">
                &nbsp;Filter by :
                <a class="btn yellow btn-outline" href="" ng-click="$parent.dateEv = 0" ng-class="{'active':$parent.dateEv == 0 || !$parent.dateEv}">
                    All 
                </a>
                <a class="btn yellow btn-outline" href="" ng-click="$parent.dateEv = 2" ng-class="{'active':$parent.dateEv == 2 }">
                    <span class="hidden-xs">Upcoming</span><span class="visible-xs-block">Up.</span>
                </a>
                <a class="btn yellow btn-outline" href="" ng-click="$parent.dateEv = 1" ng-class="{'active':$parent.dateEv == 1 }">
                    Past
                </a>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="cache-counter-white"></div>
    <div class="mt-list-container list-news ext-2">
        <ul infinite-scroll="addMoreItems()" infinite-scroll-disabled="infinite">
            <li class="mt-list-item text-center" ng-if="evlist.length === 0 && empty" >You have no events scheduled. <a href="/#/event/add/">Create an Event Now!</a>. </li>

            <li class="mt-list-item"  ng-class="{'hoverevent':hovering}" ng-if="evlist.length === 0 && empty"
                ng-mouseenter="hovering = true"
                ng-mouseleave="hovering = false">
                <div class="row">
                    <a href="#/review/0">
                       <div class="col-md-3 col-sm-5 col-xs-12 imgevents pull-left">
                            <div class="imgeventin" style="background-image:url({{fake.picture}})" >
                                <img class="hidden-image" src="{{fake.picture}}" />
                            </div>
                            <div class="pattern-holder">
                                <div class="pattern-band">
                                    <img class="pattern" src="images/background_pattern1.png" />
                                    <img class="pattern" src="images/background_pattern2.png" />
                                    <img class="pattern" src="images/background_pattern3.png" />
                                </div>
                            </div>
                        </div>
                        <div class="list-item-content col-md-9 col-sm-7 col-xs-12">
                            <div class="title-event col-md-12 row">
                                <span class="uppercase">{{fake.name}}</span><span class="eventplace col-xs-12 row visible-xs-block">@{{fake.place.name}}</span>
                                <span class="eventplace hidden-xs">@ {{fake.place.name}} </span>
                                <span class="eventplace hidden-xs" ng-if="$root.admin">/ {{fake.username}}</span>
                                <div class="tickets pull-right">
                                    <div class="tickets pull-right" >
                                        <span ng-if="fake.tickets.length > 0 && (fake.roles.indexOf('admin') > -1 || fake.roles.indexOf('manage') > -1)">
                                            <i class="fa fa-ticket"></i> <span ng-bind-html="fake | ticketsfilter"></span>
                                        </span>
                                        <span ng-if="fake.tickets.length == 0 && (fake.roles.indexOf('admin') > -1 || fake.roles.indexOf('manage') > -1)">
                                            <i class="fa fa-ticket"></i> 0/<span class="small-size-text">0</span>
                                        </span>
                                        <span ng-if="fake.roles.indexOf('link') > -1">
                                            <i class="fa fa-ticket"></i> <span ng-bind-html="fake | ticketsfilter:true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 info row">
                                <div class="col-md-4 col-sm-4 col-xs-12 row">
                                    <span class="uppercase hour">{{fake.dateStart| date:'shortTime' }}</span> <br/>
                                    {{fake.dateStart| date:'EEEE, MM/dd/yyyy' }}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 row">
                                    &nbsp;<span class="uppercase hour">{{fake.dateEnd| date:'shortTime' }}</span> <br/>
                                    {{fake.dateEnd| date:'EEEE, MM/dd/yyyy' }}
                                </div>

                                <div class="actions pull-right">
                                    <button class="btn grey-mint btn-outline">
                                        <i class="icon-settings"></i>
                                        Manage 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="mt-list-item" ng-repeat="ev in list = (evlist| filter: query | dateBeforeRepeat: dateEv) | orderBy:order" ng-class="{'done': (ev.dateEnd | dateBeforeClass), 'hoverevent':hovering}"
                ng-mouseenter="hovering = true"
                ng-mouseleave="hovering = false">
                <div class="row">
                    <a href="#/{{ev|eventslink}}">
                        <div class="col-md-3 col-sm-5 col-xs-12 imgevents pull-left">
                            <div class="imgeventin" style="background-image:url({{ev.picture}})" >
                                <img class="hidden-image" src="{{ev.picture}}" />
                            </div>
                            <div class="pattern-holder">
                                <div class="pattern-band">
                                    <img class="pattern" src="images/background_pattern1.png" />
                                    <img class="pattern" src="images/background_pattern2.png" />
                                    <img class="pattern" src="images/background_pattern3.png" />
                                </div>
                            </div>
                        </div>
                        <div class="list-item-content col-md-9 col-sm-7 col-xs-12">
                            <div class="title-event col-md-12 row">
                                <span class="uppercase">{{ev.name}}</span><span class="eventplace col-xs-12 row visible-xs-block">@{{ev.place.name}}</span>
                                <span class="eventplace hidden-xs">@ {{ev.place.name}} </span>
                                <span class="eventplace hidden-xs" ng-if="$root.admin">/ {{ev.username}}</span>
                                <div class="tickets pull-right">
                                    <div class="tickets pull-right" >
                                        <span ng-if="ev.tickets.length > 0 && (ev.roles.indexOf('admin') > -1 || ev.roles.indexOf('manage') > -1)">
                                            <i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter"></span>
                                        </span>
                                        <span ng-if="ev.tickets.length == 0 && (ev.roles.indexOf('admin') > -1 || ev.roles.indexOf('manage') > -1)">
                                            <i class="fa fa-ticket"></i> 0/<span class="small-size-text">0</span>
                                        </span>
                                        <span ng-if="ev.roles.indexOf('link') > -1 && ev.tickets.length > 0 && ev.roles.indexOf('admin') == -1 && ev.roles.indexOf('manage') == -1">
                                            <i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter:true"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 info row">
                                <div class="col-md-4 col-sm-4 col-xs-12 row">
                                    <span class="uppercase hour">{{ev.dateStart| date:'shortTime' }}</span> <br/>
                                    {{ev.dateStart| date:'EEEE, MM/dd/yyyy' }}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 row">
                                    &nbsp;<span class="uppercase hour">{{ev.dateEnd| date:'shortTime' }}</span> <br/>
                                    {{ev.dateEnd| date:'EEEE, MM/dd/yyyy' }}
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 row">
                                    <span ng-if="ev.tickets.length > 0">
                                        <span ng-repeat="price in ev.tickets" class="price">&nbsp;<span class="priceevent">${{price.price}}</span> {{price.name}} <br ng-if="!$last" /></span>
                                    </span>
                                </div>

                                <div class="actions pull-right">
                                    <span ng-if="$root.admin" confirmevent event="ev"> </span>
                                    <button class="btn grey-mint btn-outline">
                                        <i class="icon-settings"></i>
                                        Manage 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>