<div class="row">
    <div class="col-md-12">
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pagetitle">
                        <i class="icon-globe theme-font hide"></i> Help
                    </h1>
                </div>
                <!-- HELP TAB -->
                <div id="help" class="col-md-12">
                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapse" href="" data-target="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" aria-expanded="true"> I or a customer have a problem with my event or with a customer </a>
                                </h4>
                            </div>
                            <div id="accordion1_1" class="panel-collapse collapse in" aria-expanded="false">
                                <div class="panel-body">
                                    You can email us at
                                    <a class="link" target="_top" href="mailto:info@joynr.co?Subject=Issue Event">info@joynr.co</a>
                                    for any question regarding your event.
                                    <br>
                                    If the problem is urgent, please call (415) 279-0164.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapse" href="" data-target="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" aria-expanded="false"> I have a problem with the website </a>
                                </h4>
                            </div>
                            <div id="accordion1_2" class="panel-collapse collapse" aria-expanded="true" style="">
                                <div class="panel-body">
                                    Please contact
                                    <a class="link" target="_top" href="mailto:admin@joynr.co?Subject=Issue Event">admin@joynr.co</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END HELP TAB -->
            </div>
        </div>
    </div>
</div>

<!-- END PROFILE CONTENT -->

