<div ng-include="'views/template/header-events.html'"> </div>

<h2>Performance Tracking:</h2>
<p>
    Generate referral links to track which distribution channels are resulting in the most sales for you. Let us help you understand which marketing vehicles are selling the most tickets for you by tracking your Facebook sales, email blast sales, hosts, partners, and sponsors.
</p>
<a class="btn yellow-saffron notrounded"  ng-click="iframe = !iframe;" >
    <i class="fa fa-minus-circle" ng-show="iframe"></i>
    <i class="fa fa-plus-circle" ng-show="!iframe"></i> Embed Iframe
</a>
<div ng-show="iframe" links="links" iframe></div>
<div class="row" ng-show="error">
    <div class="col-md-12">
        <br/>
        <div class="note note note-danger">
            <p>We encounter a problem to add a link to your event. </p>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="success">
    <div class="col-md-12">
        <br/>
        <div class="note note note-success">
            <h4>You new Referral Links have been saved. </h4>
            <p>You can now start to promote your Event.</p>
        </div>
    </div>
</div>
<div ng-if="linkstable.length > 0">
    <highchart id="linkschart" config="linkschart" ></highchart>
    <table class="table table-hover table-light">
        <thead>
            <tr class="uppercase">
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Visits
                </th>
                <th>
                    Orders
                </th>
                <th>
                    Conversion Rate 
                </th>
                <th>
                    link
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="link in linkstable">
                <td>{{link.name}}</td>
                <td>{{link.type|linktype}}</td>
                <td>{{link.visits}}</td>
                <td>{{link.orders}}</td>
                <td>{{link.visits && (link.orders / link.visits) * 100}}% </td>
                <td><a ng-if="link.type != 0" href="https://joynr.co/event/{{link.id}}/{{ev.name|slugfilter}}" target="_blank">https://joynr.co/event/{{link.id}}/{{ev.name|slugfilter}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<br/>
<form ng-submit="form.$valid && submit()" enctype="multipart/form-data" accept-charset="utf-8" name="form" novalidate="true" scrollerrortop form="formevent">
    <div links="links" form="form" types="types" linktable></div>
    <div class="clearfix">
        <div class="pull-right">
            <input type="submit" value="Save" class="btn button-submit" ng-class="{'green': form.$valid}"  novalidate="true" tooltip data-original-title="{{formevent.$invalid ? 'Your form contains errors.' : ''}}" data-placement="bottom" data-container="body"/>
        </div>
    </div>
</form>