<div class="row">
	<div class="col-md-12">
		<h1 class="pagetitle">
			Dashboard
		</h1>
	</div>
</div>
<div class="alert alert-warning col-md-12" role="alert" ng-if=" evlist.length == 0 ">You have no events scheduled, but you can <a href="/#/event/add/">add one here</a></div>
<!-- BEGIN DASHBOARD STATS-->
<div class="row stats">
	
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-ticket"></i>
			</div>
			<div class="details">
				<div class="number">{{totalsold}}</div>
				<div class="desc"> Tickets Sold </div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">{{eventweek}}</div>
				<div class="desc"> Events This Week</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple">
			<div class="visual">
				<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
			</div>
			<div class="details">
				<div class="number">{{coming}}</div>
				<div class="desc"> Coming Events </div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number"> ${{profit}}</div>
				<div class="desc"> Total Profit </div>
			</div>
		</div>
	</div>
</div>
<!-- END DASHBOARD STATS -->

<!-- BEGIN TICKETS OVERVIEW -->
<div class="row">
	<!-- BEGUIN TICKETS REVENUE -->
	<div class="col-md-12 col-sm-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet light col-md-12 ">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">Total sales</span>
				</div>
			</div>
			<div class="portlet-body">
				<div id="site_activities_content" >
					<highchart id="chart1" config="dashboardconfig"></highchart>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PORTLET-->
<!-- END TICKETS REVENUE -->

<!-- BEGIN EVENTS SELLING LIST -->
<!-- BEGIN TICKETS OVERVIEW -->
<div class="row">
	<!-- BEGUIN TICKETS REVENUE -->
	<div class="col-md-12 col-sm-12 mt-element-list">

	    <div class="cache-white"></div>
	    <div class="mt-list-head list-news ext-1 bg-burgundy ">
	        <h1 class="eventtitle" style="border-bottom: 0px">
	            You Have {{evlist.length}} Event<span ng-if=" evlist.length > 1 ">s</span> Running
	        </h1>
	        <a href="#/events"><div class="list-count pull-right"><span class="total">See All Events</span></div></a>
	    </div>

	    <div class="clearfix"></div>
	    <div class="cache-counter-white"></div>
		<div class="mt-list-container list-news ext-2">
			<ul infinite-scroll="addMoreItems()" infinite-scroll-disabled="infinite">
				<li class="mt-list-item text-center" ng-if="evlist.length === 0 && empty" >
					You have no events scheduled. <a href="/#/event/add/">Create an event now!</a>.
				</li>

	            <li class="mt-list-item"  ng-class="{'hoverevent':hovering}" ng-if="evlist.length === 0 && empty && listfake"
	                ng-mouseenter="hovering = true"
	                ng-mouseleave="hovering = false">
	                <div class="row">
	                    <a href="#/review/0">
	                       <div class="col-md-3 col-sm-5 col-xs-12 imgevents pull-left">
	                            <div class="imgeventin" style="background-image:url({{fake.picture}})" >
	                                <img class="hidden-image" src="{{fake.picture}}" />
	                            </div>
	                            <div class="pattern-holder">
	                                <div class="pattern-band">
	                                    <img class="pattern" src="images/background_pattern1.png" />
	                                    <img class="pattern" src="images/background_pattern2.png" />
	                                    <img class="pattern" src="images/background_pattern3.png" />
	                                </div>
	                            </div>
	                        </div>
	                        <div class="list-item-content col-md-9 col-sm-7 col-xs-12">
	                            <div class="title-event col-md-12 row">
	                                <span class="uppercase">{{fake.name}}</span><span class="eventplace col-xs-12 row visible-xs-block">@{{fake.place.name}}</span>
	                                <span class="eventplace hidden-xs">@ {{fake.place.name}} </span>
	                                <span class="eventplace hidden-xs" ng-if="$root.admin">/ {{fake.username}}</span>
	                                <div class="tickets pull-right">
	                                    <div class="tickets pull-right" >
	                                        <span ng-if="fake.tickets.length > 0 && (fake.roles.indexOf('admin') > -1 || fake.roles.indexOf('manage') > -1)">
	                                            <i class="fa fa-ticket"></i> <span ng-bind-html="fake | ticketsfilter"></span>
	                                        </span>
	                                        <span ng-if="fake.tickets.length == 0 && (fake.roles.indexOf('admin') > -1 || fake.roles.indexOf('manage') > -1)">
	                                            <i class="fa fa-ticket"></i> 0/<span class="small-size-text">0</span>
	                                        </span>
	                                        <span ng-if="fake.roles.indexOf('link') > -1">
	                                            <i class="fa fa-ticket"></i> <span ng-bind-html="fake | ticketsfilter:true"></span>
	                                        </span>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-md-12 info row">
	                                <div class="col-md-4 col-sm-4 col-xs-12 row">
	                                    <span class="uppercase hour">{{fake.dateStart| date:'shortTime' }}</span> <br/>
	                                    {{fake.dateStart| date:'EEEE, MM/dd/yyyy' }}
	                                </div>
	                                <div class="col-md-4 col-sm-4 col-xs-12 row">
	                                    &nbsp;<span class="uppercase hour">{{fake.dateEnd| date:'shortTime' }}</span> <br/>
	                                    {{fake.dateEnd| date:'EEEE, MM/dd/yyyy' }}
	                                </div>
	                                <div class="col-md-4 col-sm-4 col-xs-12 row">
	                                    <span ng-if="fake.tickets.length > 0">
	                                        <span ng-repeat="price in fake.tickets" class="price">&nbsp;<span class="priceevent">${{price.price}}</span> {{price.name}} <br ng-if="!$last" /></span>
	                                    </span>
	                                </div>

	                                <div class="actions pull-right">
	                                    <button class="btn grey-mint btn-outline">
	                                        <i class="icon-settings"></i>
	                                        Manage 
	                                    </button>
	                                </div>
	                            </div>
	                        </div>
	                    </a>
	                </div>
	            </li>
				<li class="mt-list-item" ng-repeat="ev in list = evlist" ng-class="{'done': (ev.dateEnd | dateBeforeClass), 'hoverevent':hovering}"
					ng-mouseenter="hovering = true"
					ng-mouseleave="hovering = false">
					<div class="row">
						<a href="#/{{ev|eventslink}}">
							<div class="col-md-3 col-sm-5 col-xs-12 imgevents pull-left">
								<div class="imgeventin" style="background-image:url({{ev.picture}})" >
									<img class="hidden-image" src="{{ev.picture}}" />
								</div>
								<div class="pattern-holder">
									<div class="pattern-band">
										<img class="pattern" src="images/background_pattern1.png" />
										<img class="pattern" src="images/background_pattern2.png" />
										<img class="pattern" src="images/background_pattern3.png" />
									</div>
								</div>
							</div>
							<div class="list-item-content col-md-9 col-sm-7 col-xs-12">
								<div class="title-event col-md-12 row">
									<span class="uppercase">{{ev.name}}</span><span class="eventplace col-xs-12 row visible-xs-block">@{{ev.place.name}}</span>
									<span class="eventplace hidden-xs">@ {{ev.place.name}} </span>
									<span class="eventplace hidden-xs" ng-if="$root.admin">/ {{ev.username}}</span>
									<div class="tickets pull-right">
										<div class="tickets pull-right" >
											<span ng-if="ev.tickets.length > 0 && (ev.roles.indexOf('admin') > -1 || ev.roles.indexOf('manage') > -1)">
												<i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter"></span>
											</span>
											<span ng-if="ev.tickets.length == 0 && (ev.roles.indexOf('admin') > -1 || ev.roles.indexOf('manage') > -1)">
												<i class="fa fa-ticket"></i> 0/<span class="small-size-text">0</span>
											</span>
											<span ng-if="ev.roles.indexOf('link') > -1 && ev.tickets.length > 0 && ev.roles.indexOf('admin') == -1 && ev.roles.indexOf('manage') == -1">
												<i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter:true"></span>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-12 info row">
									<div class="col-md-4 col-sm-4 col-xs-12 row">
										<span class="uppercase hour">{{ev.dateStart| date:'shortTime' }}</span> <br/>
										{{ev.dateStart| date:'EEEE, MM/dd/yyyy' }}
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 row">
										&nbsp;<span class="uppercase hour">{{ev.dateEnd| date:'shortTime' }}</span> <br/>
										{{ev.dateEnd| date:'EEEE, MM/dd/yyyy' }}
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12 row">
										<span ng-if="ev.tickets.length > 0">
											<span ng-repeat="price in ev.tickets" class="price">&nbsp;<span class="priceevent">${{price.price}}</span> {{price.name}} <br ng-if="!$last" /></span>
										</span>
									</div>

									<div class="actions pull-right">
										<span ng-if="$root.admin" confirmevent event="ev"> </span>
										<button class="btn grey-mint btn-outline">
											<i class="icon-settings"></i>
											Manage 
										</button>
									</div>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--END EVENT SELLING LIST -->


