<div class="cache-white"></div>
<div class="col-md-12 bg-burgundy header-event">
    <h1 class="eventtitle">My Network </h1>
    <div class="pull-right returnlink hidden-xs">
        <button class="btn notrounded yellow" ng-class="{'create': tab == 'create'}" ng-click="tab = 'create';clearFilter();">Create Groups</button>
        <button class="btn notrounded yellow" ng-class="{'create': tab == 'groups'}" ng-click="tab = 'groups'">My groups</button>
    </div>
    <div class="btn-group visible-xs-block bg-burgundy bg-burgundy col-md-12 menuevent ">
        <a class="btn notrounded dropdown-toggle pull-right" data-toggle="dropdown" href="" aria-expanded="false">
            Menu
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu pull-right" role="menu">
            <li ng-class="{'active': tab == 'create'}" >
                <a href="" ng-click="tab = 'create'; clearFilter();" >Create Groups</a>
            </li>
            <li ng-class="{'active': tab == 'groups'}" >
                <a href="" ng-click="tab = 'groups'" >My Groups</a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="cache-counter-white"></div>
<br/>
<div ng-show="tab == 'create'">
    <div class="portlet">
        <div class="portlet-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="portlet light col-md-12 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold" ng-if="selectedgroup">{{selectedgroup.grouplabel}}</span>
                                <span class="caption-subject bold" ng-if="!selectedgroup.grouplabel">All</span>
                            </div>
                        </div> 
                    </div>
                    <div class="portlet-body">
                        <highchart id="pie" config="piechart"></highchart>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portlet light col-md-12 ">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold">Filters:</span>
                            </div>
                            <div class="actions">
                                <span class="bold">{{ filtered.length}}</span> Attendees  <span class="bold">${{revenue}}</span> Revenue
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div ng-if="noresultfilter" class="alert alert-info"> No result !</div>
                            <span addfilter filterslist="filterslist" filters="filters"></span>
                            <div class="col-md-12">
                                <button class="btn btn-default" ng-click="getFilter()">Apply Filter</button>
                                <button class="btn btn-default" ng-click="clearFilter()">Clear All</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <input class="form-control form-control-solid" type="text" placeholder="search..." ng-model="query">
                </div>
            </div>
            <button class="btn grey-mint btn-outline" ng-click="getEmail()"><i class="fa fa-ticket"></i> EXCEL: Email</button>
            <button class="btn btn-default" ng-click="modal(0)" ng-disabled="selection.group.length == 0"><i class="fa fa-plus" aria-hidden="true" ></i> Create a Group</button>
            <button class="btn btn-default" ng-if="groupslist.length > 0 && active" ng-click="deleteGroup(0)"><i class="fa fa-plus" aria-hidden="true" ></i> Delete Group</button>
            <button class="btn btn-default" ng-if="selection.group.length > 0 && groupslist.length > 0 && !active" ng-click="modal(1)"><i class="fa fa-plus" aria-hidden="true" ></i> Add to Groups</button>
            <button class="btn btn-default" ng-if="selection.group.length > 0 && groupslist.length > 0 && active" ng-click="deleteGroup(1)"><i class="fa fa-minus" aria-hidden="true"></i> Delete This Group</button>

            <ui-select ng-model="$parent.page.value" ng-model-options="{getterSetter: true}" class="pull-right col-md-1">
                <ui-select-match>
                    <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in numberpage ">
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>
            <div class="pull-right">
                <dir-pagination-controls class="pull-right"></dir-pagination-controls>
            </div>
            <table class="table table-hover table-light table-responsive">
                <thead>
                    <tr class="uppercase" ng-class="{reverse:reverse}">
                        <th><input type="checkbox" ng-click="addAllToGroup()" ng-model="isAllSelected"></th>
                        <th colspan="2" ng-class="{sortorder: order == 'username' || order == '-username',reverse:  order == '-username'}">
                            <a href="" ng-click="order = order == 'username' ? '-username' : 'username'">USER</a>
                        </th>
                        <th ng-class="{sortorder: order == 'category' || order == '-category',reverse:  order == '-category'}">
                            <a href="" ng-click="order = order == 'category' ? '-category' : 'category'">FAVORITE CATEGORY</a>
                        </th>
                        <th ng-class="{sortorder: order == 'attendee' || order == '-attendee',reverse:  order == '-attendee'}">
                            <a href="" ng-click="order = order == 'attendee' ? '-attendee' : 'attendee'"># EVENT(S) ATTENDED</a>
                        </th>
                        <th ng-class="{sortorder: order == 'lastevent' || order == '-lastevent',reverse:  order == '-lastevent'}">
                            <a href="" ng-click="order = order == 'lastevent' ? '-lastevent' : 'lastevent'">LAST EVENT</a> 
                        </th>
                        <th ng-class="{sortorder: order == 'totalspent' || order == '-totalspent',reverse:  order == '-totalspent'}">
                            <a href="" ng-click="order = order == '-totalspent' ? 'totalspent' : '-totalspent'">TOTAL SPENT</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="network in filtered  = (networklist | fromList:resultfilter | filter:selectedgroup.groupid:groupComparator  | filter: this.query  | orderBy:order) | itemsPerPage: page.get()"  class="clickrow networktr">
                        <td>
                            <input type="checkbox" ng-model="$parent.selection.group[$index]" ng-true-value="{{network.id}}" ng-false-value="" >
                        </td>
                        <td class="fit" ng-click="modal(2, network)">
                            <img class="user-pic-fit hidden-xs" src="{{network.picture}}" ng-show="network.picture != null">
                            <img class="user-pic-fit hidden-xs" src="https://graph.facebook.com/{{network.fb_id}}/picture?type=square" ng-show="network.picture === null && network.fb_id">
                        </td>
                        <td ng-click="modal(2, network)">
                            {{network.username}}
                        </td>
                        <td ng-click="modal(2, network)">
                            {{network.category}}
                        </td>
                        <td ng-click="modal(2, network)">
                            {{network.attendee}}
                        </td>
                        <td ng-click="modal(2, network)">
                            {{network.lastevent}}
                        </td>
                        <td ng-click="modal(2, network)">
                            ${{network.totalspent}}
                        </td>
                    </tr>

                </tbody>
            </table>
            <ui-select ng-model="$parent.page.value" ng-model-options="{getterSetter: true}" class="pull-right col-md-1">
                <ui-select-match>
                    <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in numberpage ">
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>
            <div class="pull-right">
                <dir-pagination-controls class="pull-right"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/><br/>
</div>

<!-- My groups -->
<div ng-show="tab == 'groups'">
    <div class="row" ng-repeat="group in groupslist">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">&nbsp;{{group.grouplabel}}</span>
                    </div>
                    <div class="actions">
                        <i class="fa fa-users" aria-hidden="true"></i> <span class="bold uppercase">&nbsp;&nbsp;{{group.number}}&nbsp;</span>
                    </div>
                </div>
                <div class="portlet-body">
                    &nbsp;<button class="btn btn-default" ng-click="$parent.selectedgroup = group; $parent.active= true; $parent.tab = 'create';"><i class="fa fa-cog" aria-hidden="true"></i> Edit Group</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <span ng-if="add == 0">Create a Group</span>
                    <span ng-if="add == 1">Add to Groups</span>
                </h4>
                <div ng-if="add == 2"> <div class="col-md-5">
                        <img class="user-pic hidden-xs" src="{{userInModal.picture}}" ng-show="userInModal.picture != null">
                        <img class="user-pic hidden-xs" src="https://graph.facebook.com/{{userInModal.fb_id}}/picture?type=square" ng-show="userInModal.picture === null && userInModal.fb_id">
                        <h2 style="margin-top: 20px;">{{userInModal.username}}</h2>
                    </div>
                    <div class="col-md-4"> 
                        <b>Prefered category</b>: {{userInModal.category}} <br/>
                        <b>Last event</b>: {{userInModal.lastevent}}
                    </div>
                    <div class="col-md-3"> 
                        <b>Events attended</b>: {{userInModal.attendee}}<br/>
                        <b>Total spent:</b> ${{userInModal.totalspent}}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" ng-show="error">
                    <div class="col-md-12">
                        <br/>
                        <div class="note note note-danger">
                            <p>We encountered an issue please try again.</p>
                            <ul>
                                <li ng-repeat="error in errors">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form ng-show="add == 0 || add == 1" ng-submit="form.$valid && submitGroup()" accept-charset="utf-8" name="form">
                    <div ng-if="add == 0" class="form-group row" ng-class="{'has-error':form.uName.$invalid && form.uName.$touched && form.uName.$error.required, 'has-sucess':form.uName.$valid}">
                        <label for="uName" class="control-label col-md-3 text-right">Name<span class="required">* </span></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="uName" ng-model="selection.name" ng-minlength="2" ng-maxlength="200" required/>
                            <span ng-show="form.$submitted || form.uName.$touched">
                                <span ng-show="form.uName.$error.required" class="required"> Write the name of the group.</span> 
                                <span ng-show="form.uName.$error.minlength" class="required">The group name should have a minimum of 2 characters.</span>
                            </span>
                        </div>
                    </div>
                    <div ng-if="add == 1" class="form-group row" ng-class="{'has-error':form.uName.$invalid && form.uName.$touched && form.uName.$error.required, 'has-sucess':form.uName.$valid}">
                        <label for="uGroup" class="control-label col-md-3 text-right">Add to Groups<span class="required">* </span></label>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error':(form.$submitted || form.uNames.$touched) && form.uNames.$error.required}" style="with:100%">
                                <ui-select multiple ng-model="$parent.selection.names" theme="bootstrap" ng-required="true" name="uNames" close-on-select="false">
                                    <ui-select-match placeholder="Select the groups...">{{$item.grouplabel}}</ui-select-match>
                                    <ui-select-choices repeat="group.groupid as group in groupslist">
                                        <div ng-bind-html="group.grouplabel | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
                <div ng-if="add == 2">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr class="uppercase">
                                <th class="hidden-xs">
                                    DATE
                                </th>
                                <th width="20%">
                                    EVENT
                                </th>
                                <th class="hidden-xs hidden-sm">
                                    CATEGORY
                                </th>
                                <th class="hidden-xs ">
                                    TICKET
                                </th>
                                <th>
                                    QUANTITY
                                </th>
                                <th>
                                    AMOUNT
                                </th>
                                <th class="hidden-xs">
                                    LINK
                                </th>
                                <th class="hidden-xs">
                                    LINK NAME
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="ticket in userInModal.orders">
                            <td class="hidden-xs">{{ticket.dateCreated| date:"MM/dd/yyyy" }}</td>
                            <td>{{ticket.event}}</td>
                            <td class="hidden-xs hidden-sm">{{ticket.category}}</td>
                            <td class="hidden-xs">{{ticket.ticketname}}</td>
                            <td>{{ticket.quantity}}</td>
                            <td>${{ticket.amount}}</td>
                            <td class="hidden-xs">{{ticket.linklabel|| "direct"}}</td>
                            <td class="hidden-xs">{{(ticket.linktype|linktype) || "~" }}</td>
                        </tr>
                    </table>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
