<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <h1 class="pagetitle">
            My payments
        </h1>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-calendar"></i> Transfer Date
                    </th>
                    <th class="hidden-xs">
                        <i class="fa fa-question"></i> Descrition
                    </th>
                    <th>
                        <i class="fa fa-bookmark"></i> Amount
                    </th>
                    <th>
                        <i class="fa fa-bookmark"></i> Fee
                    </th>
                    <th>
                        <i class="fa fa-bookmark"></i> Earning
                    </th>
                    <th>
                        <i class="icon-flag"></i> Invoice
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="javascript:;">
                            09/10/15 </a>
                    </td>
                    <td class="hidden-xs">
                        32 Tickets Solds
                    </td>
                    <td>
                        52560.10$ <span class="label label-success label-sm">
                            Paid </span>
                    </td>
                    <td>
                        52560.10$ <span class="label label-success label-sm">
                            Paid </span>
                    </td>
                    <td>
                        52560.10$ <span class="label label-success label-sm">
                            Paid </span>
                    </td>
                    <td>
                        <a class="btn default btn-xs green-stripe" href="javascript:;">
                            View </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:;">
                            08/12/15 </a>
                    </td>
                    <td class="hidden-xs">
                        36 Tickets Solds
                    </td>
                    <td>
                        5760.00$ <span class="label label-warning label-sm">
                            Pending </span>
                    </td>
                    <td>
                        5760.00$ <span class="label label-warning label-sm">
                            Pending </span>
                    </td>
                    <td>
                        5760.00$ <span class="label label-warning label-sm">
                            Pending </span>
                    </td>
                    <td>
                        <a class="btn default btn-xs blue-stripe" href="javascript:;">
                            View </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="javascript:;">
                            10/08/15 </a>
                    </td>
                    <td class="hidden-xs">
                        40 Tickets Solds
                    </td>
                    <td>
                        610.50$ <span class="label label-danger label-sm">
                            Overdue </span>
                    </td>
                    <td>
                        610.50$ <span class="label label-danger label-sm">
                            Overdue </span>
                    </td>
                    <td>
                        610.50$ <span class="label label-danger label-sm">
                            Overdue </span>
                    </td>
                    <td>
                        <a class="btn default btn-xs red-stripe" href="javascript:;">
                            View </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-4 col-md-offset-8">
            <div class="portlet sale-summary">
                <div class="portlet-title">
                    <div class="caption">
                        Total Due
                    </div>
                </div>
                <div class="portlet-body col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <span class="sale-info col-md-6">
                                TOTAL SELLS </span>
                            <span class="sale-num col-md-6 text-right">
                                $3.990 </span>
                        </li>
                        <li>
                            <span class="sale-info col-md-6">
                                JOYNR Fees</span>
                            <span class="sale-num col-md-6 text-right">
                                $399 </span>
                        </li>
                        <li>
                            <span class="sale-info col-md-6">
                                EARNINGS </span>
                            <span class="sale-num col-md-6 text-right">
                                $3.600 </span>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <button type="button" class="btn btn-primary pull-right">Ask payment</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


