<div ng-include="'views/template/header-events.html'" > </div>
<div class="clearfix"></div>
<div ng-show="success">
    <div class="col-md-12">
        <br/>
        <div class="note note-success">
            <h4>Your event has been saved</h4>
            <p>You can now promote it.</p>
        </div>
    </div>
</div>
<div ng-show="ev.published == 0">
    <div class="col-md-12">
        <br/>
        <div class="note note-danger">
            <h4>Your event is Offline</h4>
            <p>Tickets Sales have been suspended and the event won't appear in your organizer page</p>
        </div>
    </div>
</div>

<div class="eventinfo">
    <div class="col-md-3 col-sm-5 col-xs-12 imgevents">
        <div class="imgeventin" style="background-image:url({{ev.picture}})" >
            <img class="hidden-image" src="{{ev.picture}}" />
        </div>
        <div class="pattern-holder">
            <div class="pattern-band">
                <img class="pattern" src="images/background_pattern1.png" />
            </div>
        </div>
    </div>
    <div class="list-item-content col-md-9 col-sm-7 col-xs-12">
        <div class="title-event col-md-12 col-xs-12">
            <span class="uppercase">{{ev.name}}&nbsp;&nbsp;</span><span class="eventplace hidden-xs">@ {{ev.place.name}}</span>
            <span class="eventplace visible-xs-block">@ {{ev.place.name}}</span>
            <span class="eventplace hidden-xs" ng-if="$root.admin"> / {{ev.username}}</span>
            <div class="tickets pull-right" >
                <span ng-if="ev.tickets.length > 0 && ($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1)">
                    <i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter"></span>
                </span>
                <span ng-if="ev.tickets.length == 0 && ($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1)">
                    <i class="fa fa-ticket"></i> 0/<span class="small-size-text">0</span>
                </span>
                <span ng-if="ev.roles.indexOf('link') > -1 && ev.tickets.length > 0 && ev.roles.indexOf('admin') == -1 && ev.roles.indexOf('manage') == -1">
                    <i class="fa fa-ticket"></i> <span ng-bind-html="ev | ticketsfilter:true"></span>
                </span>
            </div>
        </div>
        <div class="col-md-12 info">
            <div class="col-md-3 col-sm-3 col-xs-12 row">
                <span class="uppercase hour">{{ev.dateStart| date:'shortTime' }}</span> <br/>
                {{ev.dateStart| date:'EEEE, MM/dd/yyyy' }}
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 row">
                &nbsp;<span class="uppercase hour">{{ev.dateEnd| date:'shortTime' }}</span> <br/>
                {{ev.dateEnd| date:'EEEE, MM/dd/yyyy' }}
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 row">
                <h4>Tickets Overview</h4>
                <table class="table table-borderless table-condensed" ng-if="ev.tickets.length > 0">
                    <tr ng-repeat="price in ev.tickets" class="price">
                        <td>
                            {{price.name}}
                        </td>
                        <td>
                            <span class="priceevent">${{price.price}}</span> 
                        </td>
                        <td>
                            {{price.totalQuantity - price.remainingQuantity}}/{{price.totalQuantity}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="description-link pull-right">
                <a href="" ng-click="desc = desc ? false : true">Description 
                    <i class="fa fa-plus-circle" ng-show="!desc"></i>
                    <i class="fa fa-minus-circle" ng-show="desc"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div ng-show="desc" class="description-text">
    <div class="clearfix"></div>
    <hr/>
    <div ng-bind-html="ev.description | renderhtml"></div>
    <div class="clearfix"></div>
    <hr/>
</div>
<div class="clearfix"></div>
<div class="feartureevents" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1">
    <div class="share">
        <h2>Event Tracking Links</h2>
        <div class="form-group col-md-9 row">
            <h5 class="no-top-border">Main:</h5>
            <input type="text" value="https://joynr.co/{{ev.id}}" focus class="form-control"/>
            <div ng-repeat="link in ev.links">
                <h5>{{link.name}}: {{link.type|linktype}}</h5>
                <input type="text" value="https://joynr.co/event/{{link.id}}/{{ev.name|slugfilter}}" focus class="form-control" />
            </div>
            <br/>
            <a class="btn green notrounded pull-right" href="#/links/{{ev.id}}" ng-if="$root.roles.indexOf('admin') > -1" tooltip title="Add links to your event" data-placement="right" data-container="body">
                <i class="icon-user"></i> Add Tracking Link
            </a>
        </div>
    </div>
    <div class="attendee" ng-if="!fake">
        <h2>Tools</h2>
        <a class="btn blue col-md-3 notrounded" href="{{url}}/promoters-api/tickets/getExcelData/{{ev.id}}" ng-if="ev.tickets.length > 0" tooltip title="Export an Excel of your attendes list" data-placement="right" data-container="body">
            <i class="fa fa-ticket"></i> Excel export
        </a>
        <a class="btn green col-md-3 notrounded" href="#/affiliates/{{ev.id}}" ng-if="$root.roles.indexOf('admin') > -1" tooltip title="Add affilites to your event" data-placement="right" data-container="body">
            <i class="icon-user"></i> Affiliates
        </a>
        <a class="btn red col-md-3 notrounded" href="#/discounts/{{ev.id}}" ng-if="tickettotal > 0 && ($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('discounts') > -1)" tooltip title="Add discount coupon to your event." data-placement="left" data-container="body">
            <i class="fa fa-usd"></i> Discounts
        </a>
        <a class="btn col-md-3 notrounded yellow-gold" ng-if="(ev.published == 1 || ev.published == null)" ng-click="unpublish(ev.id);" tooltip title="Unpublish your event if you don't want anyone to buy tickets. It will be removed from your organizer page" data-placement="left" data-container="body">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span> Unpublish
        </a>
        <a class="btn col-md-3 notrounded green" ng-click="publish(ev.id);" ng-if="ev.published == 0" tooltip title="Publish your event and start selling tickets! It will be visible from your organizer page" data-placement="left" data-container="body">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Make Live!
        </a>
        <div ng-if="$root.admin" confirmevent event="ev"> </div>
        <div ng-if="$root.admin" highlightevent event="ev"> </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="tabbable-line">
    <div class="tab-content">
        <h2>Event Information</h2>
        <br/>
        <div id="manage" >
            <!-- BEGIN DASHBOARD STATS -->
            <div class="row  stats" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-ticket"></i>
                        </div>
                        <div class="details">
                            <div class="number"><span ng-bind-html="ev | ticketsfilter:true"></span></div>
                            <div class="desc"> Tickets Sold </div>
                        </div>
                    </div>
                </div>
                <div ng-if="donations == 0" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">{{checked}}</div>
                            <div class="desc"> Checked in </div>
                        </div>
                    </div>
                </div>
                <div ng-if="donations > 0" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="details">
                            <div class="number">${{donations}}</div>
                            <div class="desc"> Donations </div>
                        </div>
                    </div>
                </div>
                <div ng-if="discounts == 0" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        </div>
                        <div class="details">
                            <div class="number">{{rate}}%</div>
                            <div class="desc"> Conversion Rate </div>
                        </div>
                    </div>
                </div>
                <div ng-if="discounts > 0" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                        </div>
                        <div class="details">
                            <div class="number">${{discounts}}</div>
                            <div class="desc"> Discounts </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="fa fa-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 
                                ${{profits}}
                            </div>
                            <div class="desc"> Total Profits </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END DASHBOARD STATS -->
            <div class="row">
                <!-- BEGUIN TICKETS SOLD -->
                <div class="col-md-12 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color">Tickets Sold</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row number-stats">
                                <div id="site_activities_content" >
                                    <highchart id="chart1" config="dashboardconfig"></highchart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>

            <div class="row" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1">
                <!-- BEGIN TICKETS OVERVIEW -->
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color">Tickets Overview</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row number-stats margin-bottom-30">
                                <div class="col-md-12 col-sm-12 col-xs-12 overview">
                                    <highchart id="tiketpie" config="ticketpiechart"></highchart>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-left">
                                        <div class="stat-chart">
                                            <span style="background-color:rgba(151,187,205,1)" class="vignette"></span>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title">
                                                TOTAL
                                            </div>
                                            <div class="number">
                                                {{tickettotal}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="stat-right">
                                        <div class="stat-chart">
                                            <span style="background-color:rgba(220,220,220,1)" class="vignette"></span>
                                        </div>
                                        <div class="stat-number">
                                            <div class="title">
                                                SOLD
                                            </div>
                                            <div class="number">
                                                <span ng-bind-html="ev | ticketsfilter:true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th>
                                                TICKET
                                            </th>
                                            <th>
                                                TICKET PRICE
                                            </th>
                                            <th>
                                                LEFT
                                            </th>
                                            <th>
                                                SOLD
                                            </th>
                                            <th>
                                                TOTAL
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="ticket in TicketsType">
                                        <td>
                                            <a href="promoters/tickets/manage/{{ev.id}}" class="primary-link">{{ticket.name}}</a>
                                        </td>
                                        <td>
                                            <a href="promoters/tickets/manage/{{ev.id}}" class="primary-link">${{ticket.price}}</a>
                                        </td>
                                        <td>
                                            <a href="promoters/tickets/manage/{{ev.id}}" class="primary-link">{{ticket.remainingQuantity}}</a>
                                        </td>
                                        <td>
                                            <a href="promoters/tickets/manage/{{ev.id}}" class="primary-link">{{ticket.totalQuantity - ticket.remainingQuantity}}</a>
                                        </td>
                                        <td>
                                            <a href="promoters/tickets/manage/{{ev.id}}" class="primary-link">{{ticket.totalQuantity}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

                <!-- END TICKETS OVERVIEW -->
                <div class="col-md-6 col-sm-6" ng-if="$root.roles.indexOf('admin') > -1 || $root.roles.indexOf('manage') > -1">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject">Network</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <highchart id="pie" config="originpiechart"></highchart>
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th>
                                                REFERRER
                                            </th>

                                            <th>
                                                TOTAL
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat-start="referrer in network[0]" ng-click="networklist = !networklist && referrer.name != 'direct'">
                                        <td>
                                            <a href="" class="primary-link" ng-class="{reverse:  networklist, sortorder: referrer.name != 'direct'}">{{referrer.name}}</a>
                                        </td>
                                        <td>
                                            <a href="" class="primary-link">{{referrer.y}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end="" ng-show="networklist">
                                        <td colspan='2'>
                                            <table class="table table-hover table-light">
                                                <thead>
                                                    <tr class="uppercase">
                                                        <th>
                                                            PATH
                                                        </th>

                                                        <th>
                                                            TOTAL
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="paths in network[1][$index]['data']" ng-click="networklist = !networklist" >
                                                    <td ng-repeat="path in paths">
                                                        {{path}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>  
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>
        </div>
    </div>
</div>

