<div ng-include="'views/template/header-events.html'"> </div>
<br/>
<div class="tabbable-line tickets">
    <!-- <a class="btn red notrounded" ng-if="($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('guest') > -1) && !(ev.dateStart | dateBeforeClass)" ng-click="submitquickguest()" >
        <i class="fa fa-bolt"></i> Quick guest
    </a> -->
    <div class="row" ng-show="success_not_modal">
        <div class="col-md-12">
            <br/>
            <div class="note note note-info">
                <p ng-bind-html="success_not_modal"></p>
            </div>
        </div>
    </div>
    <a class="btn yellow-saffron notrounded" ng-if="($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('guest') > -1) && !(ev.dateStart | dateBeforeClass)" ng-click="$parent.addguest = !$parent.addguest; $parent.addlist = false;" >
        <i class="fa fa-minus-circle" ng-show="$parent.addguest"></i>
        <i class="fa fa-plus-circle" ng-show="!$parent.addguest"></i> Add a guest
    </a>
    <a class="btn green notrounded" ng-if="($root.roles.indexOf('admin') > -1 || $root.roles.indexOf('guest') > -1) && !(ev.dateStart | dateBeforeClass)" ng-click="$parent.addlist = !$parent.addlist; $parent.addguest = false" >
        <i class="fa fa-minus-circle" ng-show="$parent.addlist"></i>
        <i class="fa fa-plus-circle" ng-show="!$parent.addlist"></i> Add a list
    </a>
    <div addguestform ticketlist="ticketstype" ng-show="addguest" refresh="settickets()" submitapi="submitguest(guest)"></div>
    <div addlistform ticketlist="ticketstype" ng-show="addlist" refresh="settickets()" submitapi="submitlist(list)"></div>
    <br/> 
    <br/>      
    <!-- BEGIN PAGE CONTENT-->
    <div class="clearfix"></div>
    <!-- BEGIN PORTLET-->
    <div class="portlet">
        <div class="portlet-title">

            <div class="number-stats margin-0" >
                <div class="stat-right">
                    <div class="stat-number">
                        <div class="title">
                            Total
                        </div>
                        <div class="number">
                            {{ticketTotal}}
                        </div>
                    </div>
                </div>

                <div class="stat-right">
                    <div class="stat-number">
                        <div class="title">
                            Sold
                        </div>
                        <div class="number">
                            {{ticketSold}}
                        </div>
                    </div>
                </div>

                <div class="stat-right">
                    <div class="stat-number">
                        <div class="title">
                            Checked In
                        </div>
                        <div class="number">
                            {{checkedIn}}
                        </div>
                    </div>
                </div>

                <div class="stat-right">
                    <div class="stat-number">
                        <div class="title">
                            Tickets Tiers
                        </div>
                        <div class="number">
                            <div class="btn-group">
                                <a class="btn dark btn-outline btn-circle btn-sm" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                                    {{selected}} <i class="fa fa-angle-down"></i> 
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" ng-click="filter('All')">All Tickets</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="filter('not Checked', 'validated', false)">not Checked</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="filter('Checked', 'validated', true)">Checked</a>
                                    </li>
                                    <li ng-repeat="ticket in ticketstype" ng-if="ticketstype.length > 0">
                                        <a href="" ng-click="filter(ticket.name, 'ticketname', ticket.name, ticket.guest, ticket.ticketid);">{{ticket.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a class="btn red notrounded margin-top-20" ng-click="suppresslist()" ng-if="suppreslist">
                    <i class="fa fa-ticket"></i> Delete the list
                </a>
                <a class="btn blue notrounded margin-top-20" href="{{url}}/promoters-api/tickets/getExcelData/{{ev.id}}" ng-if="ticketsList.length > 0 && !fake">
                    <i class="fa fa-ticket"></i> Excel export
                </a>
            </div>
        </div>
        <div class="portlet-input input-bg pull-left search-box-ticket">
            <div class="input-icon right" >
                <i class="icon-magnifier"></i>
                <input class="form-control form-control-solid " type="text" placeholder="search..." ng-model="query">
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless" id="validateTicketsTable">
                <table class="table table-hover table-light ticketlist">
                    <thead>
                        <tr class="uppercase">
                            <th colspan="2">
                                USER
                            </th>
                            <th class="hidden-xs">
                                TICKET TYPE
                            </th>
                            <th class="hidden-xs hidden-sm hidden-md">
                                DATE SOLD
                            </th>
                            <th>
                                ID
                            </th>
                            <th class="hidden-xs">
                                PRICE
                            </th>
                            <th class="hidden-xs hidden-sm hidden-md">
                                COMMENT
                            </th>
                            <th>
                                CHECK
                            </th>
                        </tr>
                    </thead>
                    <tr data-id="tickets.id" ng-repeat="tickets in ticketsList| filter: this.query || this.button as result" 
                        ng-class="{ 'active' :tickets.validated, 'refunded': tickets.refunded}" ng-click="modal(tickets)">
                        <td class="fit">
                            <img class="user-pic hidden-xs" src="{{tickets.picture}}" ng-if="tickets.picture != null">
                            <img class="user-pic hidden-xs" src="https://graph.facebook.com/{{tickets.fb_id}}/picture?type=square" ng-if="tickets.picture == null && tickets.fb_id != null">
                        </td>
                        <td>
                            {{tickets.username}}
                        </td>
                        <td class="hidden-xs">
                            {{tickets.ticketname}}
                        </td>
                        <td class="hidden-xs">
                            {{tickets.dateCreated|date:mediumDate}}
                        </td>
                        <td>
                            #{{tickets.id}}
                        </td>
                        <td>
                            ${{tickets.price}}
                        </td>
                        <td>{{tickets.comment}}</td>
                        <td>
                            <i class="fa fa-check-square-o font-green" ng-show="tickets.validated && !tickets.refunded"></i>
                            <i class="fa fa-minus-square-o" ng-show="!tickets.validated && !tickets.refunded"></i>
                            <button type="button" ng-show="tickets.refunded" class="btn yellow-saffron notrounded nopointer">Refunded</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>

<div id="bottom"></div>

<!-- Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-7">
                    <img class="user-pic hidden-xs" src="https://graph.facebook.com/{{userInModal[0].fb_id}}/picture?type=square" ng-if="userInModal[0].fb_id">
                    <img class="user-pic-fake hidden-xs" src="images/love-clip-art-red-love.svg" ng-show="!userInModal[0].fb_id">
                        <h2 style="line-height: 60px;">{{userInModal[0].username}}</h2>
                </div>

                <div class="pull-right user-info"> 
                    <b>Email</b>: {{userInModal[0].email}} <br/>
                    <b>Paid On</b>: {{userInModal[0].dateCreated| date:"MM/dd/yyyy" }} <br/>
                    <button type="button" ng-click="resendTickets(userInModal[0].id)" class="btn yellow-saffron notrounded">Resend Tickets</button>
                </div>
            </div>
            <div transferticketform ng-show="transferticket" addnewticketline="addNewTicketLine(ticket)" refresh="refreshUsers(search)" resettransferform="resettransferform" submitapi="submittransfer(transfer)"></div>
            <div class="modal-body">
                <div class="row" ng-show="errors">
                    <div class="col-md-12">
                        <br/>
                        <div class="note note note-danger">
                            <p>We encountered an issue please try again.</p><br>
                            <p ng-bind-html="errors"></p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="success">
                    <div class="col-md-12">
                        <br/>
                        <div class="note note note-info">
                            <p ng-bind-html="success"></p>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr class="uppercase">
                                <th class="hidden-xs">
                                    ID
                                </th>
                                <th class="hidden-xs">
                                    PURCHASED ON
                                </th>
                                <th>
                                    TICKET
                                </th>
                                <th>
                                    AMOUNT
                                </th>
                                <th class="hidden-xs">
                                    LINK
                                </th>
                                <th>
                                    CHECKED
                                </th>
                                <th>
                                    ACTION
                                </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="ticket in userInModal">
                            <td class="hidden-xs">#{{ticket.id}}</td>
                            <td class="hidden-xs">{{ticket.dateCreated| date:"MM/dd/yyyy" }}</td>
                            <td class="hidden-xs">{{ticket.ticketname}}</td>
                            <td>${{ticket.price}}</td>
                            <td class="hidden-xs">{{ticket.linklabel|| "direct"}}{{ (ticket.linktype|linktype) || "" }}</td>
                            <td><button type="button" class="btn blue notrounded" ng-if="!ticket.validated" ng-click="check(ticket)">Check In</button><button type="button" class="btn green notrounded" ng-if="ticket.validated" ng-click="check(ticket)">Checked!</button></td>
                            <td><button type="button" class="btn green notrounded" ng-if="ticket.refunded == 0 || ticket.refunded == null" ng-click="triggertransfer(ticket.id);">Transfer</button><button type="button" class="btn notrounded" ng-if="ticket.price == 0 && ( ticket.refunded == 0 || ticket.refunded == null)" ng-click="cancelTicket(ticket)">Cancel</button><button type="button" ng-if="ticket.price > 0 && ( ticket.refunded == 0 || ticket.refunded == null)" ng-click="refundTicket(ticket)" class="btn red notrounded">Refund</button><button type="button" ng-if="ticket.refunded" class="btn yellow-saffron notrounded nopointer">Refunded</button></td>
                        </tr>
                    </table>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>